{{ define "footer" }}
	{{ /*
	<html>
		<body>
			<main>
				*/ }}
			</main>
			<footer class="text-center">
				<div>
					<a href="/">Home</a>
					<a href="/about">About</a>
					<a href="/api">API</a>
					<a href="https://github.com/cjenright/dict-server">Source</a>
				</div>
			</footer>
		</body>
	</html>
{{ end }}
