# NOTE If you add to this file make sure to update deploy/testing/.env
# accordingly.
#
# NOTE for docker to use the values in this file you have to run your docker
# command in this directory (the directory with this .env file).  The makefile
# takes care of that for you.
#
# Set the mode for the server to run in
# Either "development" or "production".
ENV_MODE=

# The server will listen at this port.  
PORT=
DOMAIN=

# The connection settings to the database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_OPTIONS=

# Where we keep web assets
WEB_PATH=

# Where we keep templates for web pages and emails
TEMPLATES_PATH=

# The issuer of the JWTs
JWT_ISSUER=
# The key used to sign our JWTs.  Make sure this is always private and random
JWT_SIGNING_KEY=
# Name of cookie that holds the JWT
JWT_COOKIE_NAME=

# Used by let's encrypt/acme
TRAEFIK_EMAIL=

MAILGUN_ADDRESS=
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Name of bucket resumes are stored in
S3_BUCKET_RESUMES=
# Name of bucket static files are stored in
S3_BUCKET_STATIC=

# Used to serve our assets in prod
CLOUDFRONT_DISTRIBUTION_ID=
CLOUDFRONT_URL=

# Session settings
SESSION_COOKIE_NAME=
SESSION_SECRET=

# Defines what functionality is available (and theme where relevant)
# 1 - Offseason
# 2 - StatusApplicationsOpen
# 3 - StatusApplicationsClosed
# 4 - StatusLive
# 5 - StatusPostseason
APP_STATUS=
