# Set the mode for the server to run in
# Either "development" or "production".  Only choose prod if you know what you're doing!
ENV_MODE=development

# The server will listen at this port.  
# For production this should be 443 (HTTPS).
PORT=

# Domain name of our site.  For production this would be boilermake.org
DOMAIN_NAME=

# The connection string to the database
# You can really set it to whatever you want in development mode
# BUT MAKE SURE (IN DEV MODE ONLY) TO SET DB_OPTIONS=sslmode=disable
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_OPTIONS=

# The issuer of the JWTs
JWT_ISSUER=

# The key used to sign our JWTs.  Make sure this is always private and random
JWT_SIGNING_KEY=

# Name of cookie that holds the JWT
JWT_COOKIE_NAME=

# Login used to access traefik's dashboard
# `$ htpasswd` is helpful for this
TRAEFIK_DASHBOARD_LOGIN=

# PRODUCTION ONLY
# Used by let's encrypt/acme
TRAEFIK_EMAIL=
