# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test

# Configs we don't want pushed
.env

# This file is only created in production (which doesn't have write access), but you can never be too safe
deploy/traefik/acme.json
