# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test

# Configs we don't want pushed
.env
PGDATA/
package-lock.json
# But allow deploy/test/.env
!/deploy/test/.env

# Folder for temporary or development things
working/

# You can "vendor" your dependencies using "$ go mod vendor" to keep a local
# copy which can make building docker containers a bit faster.  Some people
# commit this folder to version control, but we can probably go without that.
vendor/

node_modules/
web/static/

# .DS_Store
.DS_Store
