@import 'vars';

$columns-width: 100%;

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: $padding;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: $columns-width;
}

@media only screen and (min-width: $mobile-breakpoint) {
	.col-1  { width: $columns-width / 12;         }
	.col-2  { width: $columns-width / 6;          }
	.col-3  { width: $columns-width / 4;          }
	.col-4  { width: $columns-width / 3;          }
	.col-5  { width: $columns-width / (12 / 5);   }
	.col-6  { width: $columns-width / 2;          }
	.col-7  { width: $columns-width / (12 / 7);   }
	.col-8  { width: $columns-width / (12 / 8);   }
	.col-9  { width: $columns-width / (12 / 9);   }
	.col-10 { width: $columns-width / (12 / 10);  }
	.col-11 { width: $columns-width / (12 / 11);  }
	.col-12 { width: $columns-width;              }
}

.col-1-no-break  { width: $columns-width / 12;         }
.col-2-no-break  { width: $columns-width / 6;          }
.col-3-no-break  { width: $columns-width / 4;          }
.col-4-no-break  { width: $columns-width / 3;          }
.col-5-no-break  { width: $columns-width / (12 / 5);   }
.col-6-no-break  { width: $columns-width / 2;          }
.col-7-no-break  { width: $columns-width / (12 / 7);   }
.col-8-no-break  { width: $columns-width / (12 / 8);   }
.col-9-no-break  { width: $columns-width / (12 / 9);   }
.col-10-no-break { width: $columns-width / (12 / 10);  }
.col-11-no-break { width: $columns-width / (12 / 11);  }
.col-12-no-break { width: $columns-width;              }

.col-center-x {
	margin: 0 auto;
}

.col-center-y {
	margin: auto 0;
}

.col-center {
	margin: auto;
}

.col-right {
	margin-left: auto;
}

.col-left {
	margin-right: auto;
}
