// Bulma defaults to always showing a scrollbar, no thanks
$body-overflow-y: auto;

// Use dark hammer logo colors instead of Bulma's default
$dark: #231F20;

html {
	scroll-behavior: smooth;
}

// Keeps footer at bottom even on pages with less than a full page of content
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.is-hidden {
  display: none;
}

.section {
	// Make page take up at least 100vh (So footer is never awkwardly in the middle)
	flex: 1;
}

.mlh-badge {
	display: block;
	max-width: 100px;
	min-width: 60px;
	position: absolute;
	right: 25px;
	top: 3.25rem;
	width: 10%;

	z-index: 98;
}

.bm-flashes {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	top: 5rem;
	padding: 0 0.75rem;

	z-index: 99;
}

.sticky-badge {
	top: 0;
	position: fixed;
}

.sticky-flash {
	top: 1.75rem;
	position: fixed;
}

// Make sure background image fills width and stays centered
.has-background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


// Titles in hero elemnts should be B I G
.hero {
	.title {
		font-size: 4rem;
	}
}

// Font size for error pages
.is-size-error-title {
	font-size: 10rem;
}

.youtube-container {
	position: relative;
	// ~16:9, but we cut off a little to avoid black bars
	padding-bottom: 55.4%;
	height: 0;

	iframe {
		border-radius: 6px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Anything that effects bulma styling needs to come before bulma is imported
@import "../../../node_modules/bulma/bulma.sass";

.bm-navbar {
	flex-grow: 0;
}

.bm-vii-hero {
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.button.is-red {
	background-color: #AC333B;
	border-color: transparent;
	color: $white;
}

.button.is-red.is-outlined {
	background-color: transparent;
	border-color: #AC333B;
	color: $black;

	&:hover {
		background-color: #AC333B;
		color: $white;
	}
}

.bmvii-why__img {
	max-width: 96px;
	border-radius: 50%;
	box-shadow: 0 0 0 0.33rem rgba(255, 255, 255, 0.25);
}

.bmvii-why__quarry {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.bmvii-schedule__date {
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.bmvii-schedule__day {
	flex-basis: 0;
	flex-grow: 1;
	box-sizing: border-box;
}

.bmvii-schedule__item {
	padding: 0.5rem 0;
  border-radius: 6px;

	&:nth-child(odd) {
		background: #F5F5F5;
	}
}

.bmvii-schedule__item_info {
	display: flex;
	justify-content: space-between;

	padding: 0.5rem 0.75rem;
}

.bmvii-schedule__item_time {
	white-space: nowrap;
}

.bmvii-schedule__item_event {
	text-align: right;
}

.bmvii-testimonials {
	background-position: bottom;
	background-size: contain;
	padding-bottom: 15rem;
}

.bmvii-testimonial__columns {
	align-items: stretch;
}

.bmvii-testimonial__image {
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.bmvii-testimonial__text {
	padding: 1.25rem;
}

.bmvii-faq {
	background-position: bottom;
	background-size: contain;
	padding-bottom: 15rem;
}

.bmvii-form {
	display: flex;
	align-items: center;

	background-color: #6176CF; 
	background-size: auto 100%;
	background-repeat: repeat-y;
	background-position: center;

	padding-top: 5rem;
	padding-bottom: 5rem;

	.label {
		font-weight: normal;
	}

	.field-label {
		flex-grow: 2;
		text-align: left;
	}
}

.bmvii-section-header {
	padding-top: 2rem;
}

.animate-spin {
	animation-name: spin-y;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

@keyframes spin-y {
	0%, 100% {
		transform: rotateY(0deg) translateY(0rem);
	}

	50% {
		transform: rotateY(180deg) translateY(-1rem);
	}
}

@keyframes status-pulse 
{
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    box-shadow: 0 0 0 1.5rem rgba(0, 0, 0, 0);
  }
}

.bmvii-status-pulse {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;

  margin-right: 1rem;

  animation: status-pulse 2s infinite;
}

.bmvii-status-pulse-awaiting {
  background: #6176CF;
}

.bmvii-status-pulse-rejected {
  background: rgba(172, 51, 59, 1);
}

.bmvii-status-pulse-waitlisted {
  background: rgba(255, 161, 60, 1);
}

.bmvii-status-pulse-accepted {
  background: rgba(142, 193, 61, 1);
}

.grid {
  display: grid;
  grid-template-columns: minmax(80px, 1.25fr) minmax(80px, 1.25fr) 10px 4fr minmax(0px, 2fr) 3fr 1rem min-content;
  grid-template-rows: 1fr 1rem min-content 1.5rem min-content;
}

.live-pindrop {
  grid-column: 1 / 3;
  grid-row: 1 / 4;

  align-self: end;
  display: block;
  z-index: 2;

  margin-bottom: -1px;
}

.live-greetings {
  grid-column: 4;
  grid-row: 1;

  align-self: end;
}

.live-countdown {
  grid-column: 6;
  grid-row: 1;

  justify-self: right;
  align-self: end;

  display: flex;

  color: white;

  .live-hours,
  .live-minutes,
  .live-seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .live--countdown__colon {
    padding: 0 5px;
  }

  .live--countdown__time {
    line-height: 1;
    font-size: 3rem;
    margin-bottom: 0px !important;
  }

  .live--countdown__unit {
    font-size: 10px;
  }
}

.live--announcements__padding {
  grid-column: 2 / 4;
  grid-row: 3;

  height: 100%;

  box-shadow: none;
}

.live--announcements.box {
  grid-column: 3 / 7;
  grid-row: 3;

  padding: 0.75rem;
  margin-bottom: 0;

  box-shadow: none;

  .live--announcements__header {
    height: 1rem;
  }
}

.live--icon {
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    width: 100%;
  }

  .live--icon__image {
    margin: 0 auto;
  }
}

.live-schedule {
  grid-column: 2 / 7;
  grid-row: 7;
}

.live-buttons-vertical {
  grid-column: 9;
  grid-row: 7;
}

.live-buttons-horizontal {
  grid-column: 2 / 7;
  grid-row: 5;
}

@media only screen
and (min-width: 601px)
and (max-width: 1024px) {
  .grid {
    grid-template-rows: 1fr 1rem min-content 0.5rem min-content 0.5rem min-content;
  }
}

@media only screen
and (max-width: 600px) {
  .grid {
    grid-template-rows: min-content 0.5rem min-content 1rem min-content 1rem 1fr;
  }

  .live--announcements__padding,
  .live-pindrop {
    display: none;
  }

  .live--announcements.box {
    grid-column: 1 / 10;
    border-radius: 6px;
  }

  .live-greetings {
    grid-column: 1 / 4;
  }

  .live-schedule {
    grid-column: 1 / 10;
  }

  .live-buttons-horizontal {
    grid-column: 1 / 10;
    grid-row: 5;
  }
}
