html {
	scroll-behavior:smooth;
}

// Keeps footer at bottom even on pages with less than a full page of content
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	// Make page take up at least 100vh (So footer is never awkwardly in the middle)
	flex: 1;
}

.bm-flashes {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	top: 5rem;
	padding: 0 0.75rem;

	z-index: 99;
}

// Make sure background image fills width and stays centered
.has-background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


// Titles in hero elemnts should be B I G
.hero {
	.title {
		font-size: 4rem;
	}
}

// Font size for error pages
.is-size-error-title {
	font-size: 10rem;
}

iframe.full-size {
	height: 308px !important;
}

// Bulma defaults to always showing a scrollbar, no thanks
$body-overflow-y: auto;

// Use dark hammer logo colors instead of Bulma's default
$dark: #231F20;

// Anything that effects bulma styling needs to come before bulma is imported
@import "../../../node_modules/bulma/bulma.sass";

.bm-navbar {
	flex-grow: 0;
}

.bm-vii-hero {
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.button.is-red {
	background-color: #AC333B;
	border-color: transparent;
	color: $white;
}

.button.is-red.is-outlined {
	background-color: transparent;
	border-color: #AC333B;
	color: $black;
}

.bmvii-why__img {
	max-width: 128px;
	border-radius: 50%;
	box-shadow: 0 0 0 0.33rem rgba(255, 255, 255, 0.25);
}

.bmvii-why__quarry {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.bmvii-schedule__day {
	flex-basis: 0;
	flex-grow: 1;
	box-sizing: border-box;
}

.bmvii-schedule__item {
	margin: 1rem 0;
	padding: 0.75rem;

	&:nth-child(odd) {
		background: #F5F5F5;
	}
}

.bmvii-schedule__item_info {
	display: flex;
	justify-content: space-between;
}

.bmvii-schedule__item_time {
	white-space: nowrap;
}

.bmvii-schedule__item_event {
	text-align: right;
}

.bmvii-testimonials {
	background-position: bottom;
	background-size: contain;
	padding-bottom: 15rem;
}

.bmvii-testimonial__columns {
	align-items: stretch;
}

.bmvii-testimonial__image {
	border-radius: 6px 6px 0 0;
	width: 100%;
}

.bmvii-testimonial__text {
	padding: 1.25rem;
}

.bmvii-faq {
	background-position: bottom;
	background-size: contain;
	padding-bottom: 15rem;
}

.bmvii-form {
	display: flex;
	align-items: center;

	background-color: #6176CF; 
	background-size: auto 100%;
	background-repeat: repeat-y;
	background-position: center;

	padding-top: 5rem;
	padding-bottom: 5rem;

	.label {
		font-weight: normal;
	}

	.field-label {
		flex-grow: 2;
		text-align: left;
	}
}

.bmvii-section-header {
	padding-top: 2rem;
}

.animate-spin {
	animation-name: spin-y;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
}

@keyframes spin-y {
	0%, 100% {
		transform: rotateY(0deg) translateY(0rem);
	}

	50% {
		transform: rotateY(180deg) translateY(-1rem);
	}
}
