{{ define "bmix navbar water" }}

<nav class="navbar bm-navbar bmvii_hero" role="navigation" aria-label="main navigation" style="width: 100%;">
	<div class="navbar-brand" style="padding-left: 20px">
		<a href="/">
			<img src='{{ static_path "bmix_logo.svg" }}' alt="BoilerMake" width="40" style="padding-top: 10px">
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-hamburger-menu">
			<span style="height: 3px" aria-hidden="true"></span>
			<span style="height: 3px" aria-hidden="true"></span>
			<span style="height: 3px" aria-hidden="true"></span>
		</a>
	</div>

	<div id="nav-hamburger-menu" class="navbar-menu" style="text-align: center;">
		<div style="padding-left: 24px"></div>
		<div class="navbar-start">
			<a class="navbar-item bmix-text-style" href="/">Home</a>
			<a class="navbar-item bmix-text-style" href="/about">About</a>
			<a class="navbar-item bmix-text-style" href="/faq">FAQ</a>
			<a class="navbar-item bmix-text-style" href="/meet_team">Meet the Team</a>
			<a class="navbar-item bmix-text-style" href="/sponsors">Sponsors</a>
		</div>

		<div class="navbar-end">
		    <a href="https://www.facebook.com/BoilerMake/" style="padding-right: 5px; padding-top: 5px">
        		<img src={{ static_path "bmix_fb_logo.png" }} width="43" alt="Instagram logo" >
        	</a>
			<a href="https://www.instagram.com/boilermake/" style="padding-right: 5px; padding-top: 5px">
				<img src={{ static_path "bmix_insta_logo.png" }} width="43" alt="Instagram logo" >
			</a>
			<a href="https://twitter.com/BoilerMake1/" style="padding-top: 5px">
				<img src={{ static_path "bmix_twitter_logo.png" }} width="43" alt="Twitter logo">
			</a>
			{{ if .IsAuthenticated }}
			<div class="navbar-item">
				<a class="button is-light-blue" href="/dashboard" style="color:white; font-family:Sen; font-weight:600; font-size:18px; padding-left:5px; padding-right:5px">Dashboard</a>
			</div>
			<div class="navbar-item">
			    <a class="button is-light-blue" href="/logout" style="color:white; font-family:Sen; font-weight:600; font-size:18px; padding-left:5px; padding-right:5px">Log Out</a>
			</div>

			{{ else }}
			<div class="navbar-item">
				<a class="button is-light-blue" href="/login" style="color:white; font-family:Sen; font-weight:600; font-size:18px">Login</a>
			</div>
			{{ end }}
		</div>
	</div>
</nav>
{{ end }}
