{{ define "bmvii sponsors section" }}

<section class="section has-background-image" style='background-color: #2D2045; background-image: url({{ static_path "bmvii_home_sponsors_background.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3 bmvii-section-header">
				<img alt="Sponsors" src={{ static_path "bmvii_sponsors.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">BoilerMake is possible through the support of our amazing sponsors.</p>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8 box" style="padding: 1.5rem 2.5rem; margin: 2.5rem 0;">
        <div class="columns is-mobile is-centered is-vcentered content">
          <div class="column is-3">
            <img src={{ static_path "sponsors_sfab.jpg" }} style="padding: 1rem;" alt="SFAB">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_cs.png" }} alt="Purdue Computer Science">
          </div>
          <div class="column is-4">
            <img src={{ static_path "sponsors_collins.jpeg" }} alt="Collins Aerospace">
          </div>
        </div>
        <div class="columns is-mobile is-centered is-vcentered content">
          <div class="column is-3">
            <img src={{ static_path "sponsors_qualcomm.png" }} alt="Qualcomm">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_ecolab.jpg" }} alt="Ecolab">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_john_deere.png" }} alt="John Deere">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_data_mine.png" }} alt="The Data Mine" style="padding: 1rem;">
          </div>
        </div>
        <div class="columns is-mobile is-centered is-vcentered content">
          <div class="column is-3">
            <img src={{ static_path "sponsors_polytech.png" }} alt="Purdue Polytechnic Institute">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_genesys.png" }} alt="Genesys">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_sep.svg" }} alt="SEP">
          </div>
          <div class="column is-3">
            <img src={{ static_path "sponsors_google_cloud.png" }} alt="Google Cloud">
          </div>
        </div>
        <div class="columns is-mobile is-centered is-vcentered content">
          <div class="column is-2">
            <a href="http://hackp.ac/mlh-stickermule-hackathons">
              <img src={{ static_path "sponsors_stickermule.svg" }} alt="Sticker Mule">
            </a>
          </div>
          <div class="column is-2">
            <img src={{ static_path "sponsors_digital_ocean.svg" }} alt="Digital Ocean">
          </div>
          <div class="column is-2">
            <img src={{ static_path "sponsors_delmar.png" }} alt="DelMar">
          </div>
          <div class="column is-2">
            <img src={{ static_path "sponsors_sketch.svg" }} alt="Sketch">
          </div>
          <div class="column is-2">
            <img src={{ static_path "sponsors_wolfram.svg" }} alt="Wolfram Language">
          </div>
          <div class="column is-2">
            <img src={{ static_path "sponsors_engineering.jpg" }} alt="Purdue Engineering">
          </div>
        </div>
        <div class="columns is-mobile is-centered is-vcentered content">
          <div class="column is-2">
            <a href="https://insomniacookies.com/">
              <img src={{ static_path "sponsors_insomnia.png" }} alt="Insomnia Cookies">
            </a>
          </div>
        </div>
      </div>
    </div>

		<div class="columns is-centered content">
			<div class="column is-8 has-text-centered">
				<a class="button is-4 title has-text-centered is-white is-outlined" href="/sponsors">Become a Sponsor →</a>
			</div>
		</div>
	</div>
</section>

{{ end }}
