{{ define "bmvii navbar" }}

<nav class="navbar container bm-navbar" role="navigation" aria-label="main navigation" style="width: 100%;">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src='{{ static_path "bmvii_navbar_logo.png" }}' alt="BoilerMake" width="112" height="28">
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-hamburger-menu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="nav-hamburger-menu" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/faq">FAQ</a>
			<a class="navbar-item" href="/hackers">Hackers</a>
			<a class="navbar-item" href="/sponsors">Sponsors</a>
			<a class="navbar-item" href="/about">About</a>
		</div>

		<div class="navbar-end">
			<a class="navbar-item" href="https://www.instagram.com/boilermake/">
				<img src={{ static_path "instagram_logo.svg" }} alt="Instagram logo" width="25" height="25">
			</a>
			<a class="navbar-item" href="https://twitter.com/BoilerMake1/">
				<img src={{ static_path "twitter_logo.svg" }} alt="Twitter logo" width="25" height="25">
			</a>
			{{ if .IsAuthenticated }}
			<div class="navbar-item">
				<a class="button is-outlined is-red" href="/apply">My Application</a>
			</div>
			<a class="navbar-item" href="/logout">Log Out</a>
			{{ else }}
			<div class="navbar-item">
				<a class="button is-outlined is-red" href="/login">Log In</a>
			</div>
			{{ end }}
		</div>
	</div>
</nav>

{{ end }}
