{{ define "bmvii footer" }}

		<footer class="footer is-fixed-bottom" style='background-color: #7289DA;'>
			<div class="container">
				<div class="columns">
					<div class="column is-offset-2 is-narrow">
						<img src={{ static_path "bmvii_pindrop.svg" }} style="width: 64px;">
					</div>
					<div class="column is-narrow">
						<p class="title is-4 has-text-white">Pages</p>
						<p><a class="has-text-white" href="/">Home</a></p>
						<p><a class="has-text-white" href="/hackers">Hackers</a></p>
						<p><a class="has-text-white" href="/sponsors">Sponsors</a></p>
						<p><a class="has-text-white" href="/about">About</a></p>
						<p><a class="has-text-white" href="/faq">FAQ</a></p>
					</div>
					<div class="column is-narrow">
						<p class="title is-4 has-text-white">Socials</p>
						<p><a class="has-text-white" href="https://www.facebook.com/BoilerMake/">Facebook</a></p>
						<p><a class="has-text-white" href="https://www.instagram.com/boilermake">Instagram</a></p>
						<p><a class="has-text-white" href="https://twitter.com/boilermake1">Twitter</a></p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

{{ end }}
