{{ define "footer" }}

			</div>
		</main>
		<footer>
			<div class="footer__container padding">

				<div class="footer__section padding-x">
					<h4>Social</h4>
					<ul class="footer__links">
						<li><a class="footer__link" href="https://www.facebook.com/BoilerMake/">Facebook</a></li>
						<li><a class="footer__link" href="https://www.instagram.com/boilermake">Instagram</a></li>
						<li><a class="footer__link" href="https://twitter.com/boilermake1">Twitter</a></li>
					</ul>
				</div>

				<div class="footer__section padding-x">
					<h4>Pages</h4>
					<ul class="footer__links">
						<li><a class="footer__link" href="/">Home</a></li>
						<li><a class="footer__link" href="/hackers">Hackers</a></li>
						<li><a class="footer__link" href="/sponsors">Sponsors</a></li>
						<li><a class="footer__link" href="/about">About</a></li>
						<li><a class="footer__link" href="/faq">FAQ</a></li>
						<li><a class="footer__link" href="/login">Login</a></li>
						<li><a class="footer__link" href="/signup">Signup</a></li>
					</ul>
				</div>

			</div>
		</footer>
	</body>
</html>

{{ end }}
