{{ define "head" }}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta charset="UTF-8">

		<meta name="Description" content="BoilerMake is a hackathon that brings over 500 hackers from across the country under one roof for one incredible weekend.">

		<title>{{ if .Title }} {{ .Title }} {{ else }} BoilerMake {{ end }}</title>

		<meta property="og:title" content="BoilerMake">
		<meta property="og:description" content="BoilerMake is a hackathon that brings over 500 hackers from across the country under one roof for one incredible weekend.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://boilermake.org">

		{{ if and (.Status) (or (lt .Status 2) (gt .Status 4)) }}
		<meta property="og:image" content='{{ static_path `logo_black.png` }}'>

		<link rel="icon" href='{{ static_path "hammer_logo.png" }}'>
		<link rel="alternate icon" href='{{ static_path "bmix_logo.png" }}'>
		{{ else }}
		<meta property="og:image" content='{{ static_path `bmix_unfurl.png` }}'>

		<link rel="icon" type="image/svg+xml" href='{{ static_path "hammer_logo.png" }}'>
		<link rel="alternate icon" type="image/png" href='{{ static_path "hammer_logo.png" }}'>
		{{ end }}

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sen" />
    <link href="http://fonts.cdnfonts.com/css/market-deco" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href='{{ static_path "index.css" }}'>
		<script src='{{ static_path "index.js" }}'></script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101404203-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-101404203-2');
		</script>
	</head>
	<body>

{{ end }}
