{{ define "offseason footer" }}

		<footer class="footer is-fixed-bottom">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-3">
						<p class="title is-4">Pages</p>
						<p><a href="/">Home</a></p>
						<p><a href="/hackers">Hackers</a></p>
						<p><a href="/sponsors">Sponsors</a></p>
						<p><a href="/about">About</a></p>
						<p><a href="/faq">FAQ</a></p>
					</div>
					<div class="column is-3">
						<p class="title is-4">Socials</p>
						<p><a href="https://www.facebook.com/BoilerMake/">Facebook</a></p>
						<p><a href="https://www.instagram.com/boilermake">Instagram</a></p>
						<p><a href="https://twitter.com/boilermake1">Twitter</a></p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

{{ end }}
