{{ define "schedule" }}

<div class="columns is-centered content">
  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Friday, January 24" class="bmvii-schedule__date" src={{ static_path "bmvii_schedule_friday.svg" }}>

      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">6:00 PM</span>
            <span class="bmvii-schedule__item_event">Check In Begins</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">8:00 PM</span>
            <span class="bmvii-schedule__item_event">Opening Ceremonies</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">9:00 PM</span>
            <span class="bmvii-schedule__item_event">Team Assembly</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">9:30 PM</span>
            <span class="bmvii-schedule__item_event">Dinner</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">10:00 PM</span>
            <span class="bmvii-schedule__item_event">Hacking Begins</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">11:00 PM</span>
            <span class="bmvii-schedule__item_event">Hackathon 101 w/ Zach Johnson</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Saturday, January 25" class="bmvii-schedule__date" src={{ static_path "bmvii_schedule_saturday.svg" }}>

      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">8:00 AM</span>
            <span class="bmvii-schedule__item_event">Breakfast</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">10:00 PM</span>
            <span class="bmvii-schedule__item_event">Tech Talks</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">12:00 PM</span>
            <span class="bmvii-schedule__item_event">Lunch</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">2:00 PM</span>
            <span class="bmvii-schedule__item_event">Tech Talks</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">3:00 PM</span>
            <span class="bmvii-schedule__item_event">Snacks</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">6:00 PM</span>
            <span class="bmvii-schedule__item_event">Dinner</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">8:00 PM</span>
            <span class="bmvii-schedule__item_event">Activity</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Sunday, January 26" class="bmvii-schedule__date" src={{ static_path "bmvii_schedule_sunday.svg" }}>

      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">8:00 AM</span>
            <span class="bmvii-schedule__item_event">Breakfast</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">9:30 AM</span>
            <span class="bmvii-schedule__item_event">Hacking Ends</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">10:00 AM</span>
            <span class="bmvii-schedule__item_event">Project Expo and Judging</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">12:00 PM</span>
            <span class="bmvii-schedule__item_event">Lunch</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmvii-schedule__item_time">1:00 PM</span>
            <span class="bmvii-schedule__item_event">Closing Ceremonies</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{ end }}
