{{ define "schedule" }}

<div class="columns is-centered content">
  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Friday, January 22" class="bmvii-schedule__date" src={{ static_path "bmviii_schedule_friday.png" }}>

      <div class="bmvii-schedule__day">

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">6:00 pm</span>
            <span class="bmviii-schedule__item_event">Check-in Begins</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">7:30 pm</span>
            <span class="bmviii-schedule__item_event">Ice Breakers</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:00 pm</span>
            <span class="bmviii-schedule__item_event">Opening Ceremony</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 pm</span>
            <span class="bmviii-schedule__item_event">BM8 Tutorial</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:30 pm</span>
            <span class="bmviii-schedule__item_event">Hacker Radio Interview (Zoom)</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 pm</span>
            <span class="bmviii-schedule__item_event">Tech Talk: Deloitte</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:00 pm</span>
            <span class="bmviii-schedule__item_event">BM Family Feud</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">12:00 am</span>
            <span class="bmviii-schedule__item_event">Behind the Scenes Vlog</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">12:30 am</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Saturday, January 23" class="bmvii-schedule__date" src={{ static_path "bmviii_schedule_saturday.png" }}>

      <div class="bmvii-schedule__day">

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:30 am</span>
            <span class="bmviii-schedule__item_event">Announcements</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 am</span>
            <span class="bmviii-schedule__item_event">Tech Talk: Ecolab</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:00 am</span>
            <span class="bmviii-schedule__item_event">Sponsor Interview: Ecolab</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:30 am</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">12:00 pm</span>
            <span class="bmviii-schedule__item_event">Arts & Crafts</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">1:00 pm</span>
            <span class="bmviii-schedule__item_event">BM Exec Interview</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">1:30 pm</span>
            <span class="bmviii-schedule__item_event">Hacker Interview</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">2:00 pm</span>
            <span class="bmviii-schedule__item_event">RecWell Zumba</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">3:00 pm</span>
            <span class="bmviii-schedule__item_event">BM Alumni Panel</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">4:00 pm</span>
            <span class="bmviii-schedule__item_event">Tech Talk: Palantir</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">5:00 pm</span>
            <span class="bmviii-schedule__item_event">Tech Talk: John Deere</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">6:00 pm</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">7:00 pm</span>
            <span class="bmviii-schedule__item_event">Sponsor Panel</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:00 pm</span>
            <span class="bmviii-schedule__item_event">BM Exec Interview</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:30 pm</span>
            <span class="bmviii-schedule__item_event">Behind the Scenes Vlog</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 pm</span>
            <span class="bmviii-schedule__item_event">Riddle Time</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 pm</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:30 pm</span>
            <span class="bmviii-schedule__item_event">Submission Tutorial</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:00 pm</span>
            <span class="bmviii-schedule__item_event">Pictionary</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">12:00 am</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="box bmvii-schedule__box">
      <img alt="Sunday, January 24" class="bmvii-schedule__date" src={{ static_path "bmviii_schedule_sunday.png" }}>

      <div class="bmvii-schedule__day">

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:00 am</span>
            <span class="bmviii-schedule__item_event">Submission Tutorial</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:30 am</span>
            <span class="bmviii-schedule__item_event">Music/Social Media Content</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 am</span>
            <span class="bmviii-schedule__item_event">Hacking Ends</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 am</span>
            <span class="bmviii-schedule__item_event">Project Expo & Judging</span>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">2:00 pm</span>
            <span class="bmviii-schedule__item_event">Closing Ceremony</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{{ end }}
