{{ define "schedule" }}

<div class="columns is-centered content" id="schedule_things">
  <div class="column">
    <div style="background: white; border-bottom: 1.5px solid"> <b> <p style="font-family:Raleway; font-weight:600px; color:#3F2C4E; font-size:36px; padding-left: 20px" id="title"> Event Schedule </p> </b> </div>
    <div class="bmvii-schedule__box" id="friday_schedule" style="display: block">
      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">6:00 pm</span>
            <span class="bmviii-schedule__item_event">Check-In Begins</span>
            <div class="bmix_event_link">Dashboard</div>
            <div class="bmix_event_presenter">BoilerMake!</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">6:30 pm</span>
            <span class="bmviii-schedule__item_event">Ice Breakers</span>
            <div class="bmix_event_link">In Person</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">7:30 pm</span>
            <span class="bmviii-schedule__item_event">Opening Ceremony</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:30 pm</span>
            <span class="bmviii-schedule__item_event">Team-Building Icebreakers</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 pm</span>
            <span class="bmviii-schedule__item_event">Hacking Begins</span>
            <div class="bmix_event_link">None</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 pm - 11:00 pm</span>
            <span class="bmviii-schedule__item_event">Dinner (by zone)</span>
            <div class="bmix_event_link">None</div>
            <div class="bmix_event_presenter">In Person Hackers</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">2:00 am</span>
            <span class="bmviii-schedule__item_event">Late Night Snack</span>
            <div class="bmix_event_link">None</div>
            <div class="bmix_event_presenter">Your Favorite Hackathon</div>
          </div>
        </div>
      </div>
    </div>

    <div class="bmvii-schedule__box" id="saturday_schedule" style="display: none; border-right: 1.5px solid;">
      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:00 am - 10:00 am</span>
            <span class="bmviii-schedule__item_event">Breakfast (by zones)</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake 😘</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 am</span>
            <span class="bmviii-schedule__item_event">John Deere Talk</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">John Deere</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:00 am</span>
            <span class="bmviii-schedule__item_event">Qualcomm Talk</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">Qualcomm</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">12:00 pm - 2:00 pm</span>
            <span class="bmviii-schedule__item_event">Lunch (by zones)</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">You know who</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">2:00 pm</span>
            <span class="bmviii-schedule__item_event">Origami</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">Besties</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">3:00 pm</span>
            <span class="bmviii-schedule__item_event">Speed Typing Event</span>
            <div class="bmix_event_link">In Person</div>
            <div class="bmix_event_presenter">Purdue Student Government</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">4:00 pm</span>
            <span class="bmviii-schedule__item_event">Boba</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">5:00 pm</span>
            <span class="bmviii-schedule__item_event">Puzzles</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">☺️</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">6:00 pm - 8:00 pm</span>
            <span class="bmviii-schedule__item_event">Dinner</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">🥵</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">8:00 pm</span>
            <span class="bmviii-schedule__item_event">Bob Ross MS Painting</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">MLH</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:30 pm</span>
            <span class="bmviii-schedule__item_event">Craft Table</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">2:00 am</span>
            <span class="bmviii-schedule__item_event">Snacks</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">You a snack</div>
          </div>
        </div>

      </div>
    </div>

    <div class="bmvii-schedule__box" id="sunday_schedule" style="display: none; border-right: 1.5px solid;">
      <div class="bmvii-schedule__day">
        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">7:30 am - 9:30 am</span>
            <span class="bmviii-schedule__item_event">Breakfast (by zones)</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake Breakfast Club</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">9:00 am</span>
            <span class="bmviii-schedule__item_event">Hacking Ends</span>
            <div class="bmix_event_link">Check Announcements</div>
            <div class="bmix_event_presenter">BoilerMake Breakfast Club</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 am</span>
            <span class="bmviii-schedule__item_event">Project Submission Deadline</span>
            <div class="bmix_event_link">https://boilermake-ix.devpost.com/</div>
            <div class="bmix_event_presenter">You!!</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">10:00 am</span>
            <span class="bmviii-schedule__item_event">Expo and Judging</span>
            <div class="bmix_event_link">None</div>
            <div class="bmix_event_presenter">You!!</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">11:00 am - 1:00 pm</span>
            <span class="bmviii-schedule__item_event">Lunch (by zones)</span>
            <div class="bmix_event_link">In Person</div>
            <div class="bmix_event_presenter">The Last Lunch</div>
          </div>
        </div>

        <div class="bmvii-schedule__item">
          <div class="bmvii-schedule__item_info">
            <span class="bmviii-schedule__item_time">1:15 pm</span>
            <span class="bmviii-schedule__item_event">Closing Ceremony</span>
            <div class="bmix_event_link">None</div>
            <div class="bmix_event_presenter">Sadness</div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="column">
    <div style="background-color: white; margin-left: -25px; border-left: 1.5px solid; border-bottom: 1.5px solid; justify-content: space-around;" id="day-buttons">
      <center>
      <button id="friday_button" style="background-color: transparent; border: none; cursor: pointer;  margin-top: 10px" ><p style="font-family:Raleway; font-weight:600px; color:#3F2C4E; font-size:24px;"> Friday </p></button>
      <button id="saturday_button" style="background-color: transparent; border: none; cursor: pointer; margin-top: 10px"><p style="font-family:Raleway; font-weight:600px; color:#3F2C4E; font-size:24px;"> Saturday </p></button>
      <button id="sunday_button" style="background-color: transparent; border: none; cursor: pointer; margin-top: 10px" ><p style="font-family:Raleway; font-weight:600px; color:#3F2C4E; font-size:24px;"> Sunday </p></button>
      
      </center>
    </div>

    <div style="background-color: white; height: 100%; margin-left: -25px; border-left: 1.5px solid;" id="event-details">
      <div style="border-bottom: 1.5px solid;" id="border-hack">
      </div>
      
      <div style="padding-left: 10px;">
        <center> <p style="font-family:Raleway; font-weight:bold; color:#3F2C4E; font-size:30px; padding-top: 10px" id="event_name"> Check-In Begins </p> </center>
        <div style="font-family:Raleway; color:#3F2C4E; font-size:20px; padding-left: 15px; padding-top: 25px; display: flex; justify-content: start;"> <b> Presenter:</b> <p id="event_presenter" style="margin-left: 4px"> BoilerMake! </p> </div>
        <p style="font-family:Raleway; color:#3F2C4E; font-size:20px; padding-left: 15px; padding-top: 5px"> <b> Link:</b> <a target="_blank" href="/dashboard" id="event_link"> Dashboard </a>
      </div>
    </div>
  </div>
</div>

{{ end }}
