{{ define "404" }}
{{ template "header" . }}

{{ template "navbar" . }}

<section class="hero is-fullheight is-dark">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="is-size-error-title has-text-light is-inline">4</h1>
			<img class="is-inline" src='{{ static_path "logo_white.svg" }}'style="height: 8rem;"/>
			<h1 class="is-size-error-title has-text-light is-inline">4</h1>

			<h2 class="subtitle has-text-light">Not found</h2>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
