{{ define "500" }}
{{ template "header" . }}

{{ template "navbar" }}

<main>
	<div>
		<h1 style="text-align: center;">500</h1>
		<p style="text-align: center;">Internal Server Error</p>
	</div>
</main>

{{ template "footer" . }}
{{ end }}
