{{ define "500" }}
{{ template "header" . }}

{{ template "navbar" . }}

<section class="hero is-fullheight is-dark">
	<div class="hero-body">
		{{ template "flashes" .Flashes }}
		<div class="container has-text-centered">
			<h1 class="is-size-error-title has-text-light is-inline">500</h1>
			<h2 class="subtitle has-text-light">Internal Server Error</h2>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
