{{ define "about" }}
{{ template "head" . }}

{{ template "navbar clear" . }}

{{ template "flashes" .Flashes }}

<section class="section bmvii-hero is-medium has-background-image" style='background-image: url({{ static_path "about_home_header_2020.JPG" }})'>
	<div class="hero-body">
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-6">
				<div class="content">
					<p> BoilerMake is a hackathon that brings over 500 hackers
						from across the country under one roof for one incredible weekend. Since 2013, our team's mission has been to drive a 
						culture of dedication to creativity, achievement, and innovation.
						We seek to empower every hacker with the tools to build anything that they can imagine, and
						we find happiness in knowing that hackers will walk out of our doors with memories
						that will last a lifetime.</p>

					<p>This year, 32 undergraduate students from Purdue University have come
						together to host an unforgettable hackathon. All the work that has gone into planning
						this event - setting up the venue, organizing activities and catering, sending annoying emails - 
						was accomplished by somebody just like you. </p>

					<p>If you love hackathons and are interested in getting involved, come talk to us at BoilerMake!
						We’ll be looking for new people to help us throw another successful hackathon in
						2022!!</p>
					<p>If you have any questions, feel free to hit us up at <a href="mailto:team@boilermake.org">team@boilermake.org</a>.</p>

					<p>As always, hack on.</p>


				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<h1 class="title is-1 is-spaced has-text-centered">History</h1>
	<div class="container">

		<div class="columns is-vcentered content">

			<div class="column">
				<h2 class="subtitle">BoilerMake VIII: January 22-24nd, 2021</h2>
				<p>For the first time, BoilerMake VIII was held virtually due to the COVID-19 pandemic. With the slogan being “lay back and hack”, students from all over the world were able to connect and hack from the comfort of their own homes. 
				There was a twitch livestream highlighting talks from sponsors, engaging hackers in fun activities, and much more.</p>
			</div>

			<div class="column">
				<img class="box is-paddingless" alt="Having fun in the streaming room" src='{{static_path "about_bm8_2021.jpg"}}'>
			</div>

		</div>
	</div>	

	<div class="container">

    		<div class="columns is-vcentered content">

    			<div class="column">
    				<img class="box is-paddingless" alt="The Co-Rec full of hackers during BoilerMake VII" src='{{static_path "about_bm_7.png"}}'>
    			</div>
    			<div class="column">
    				<h2 class="subtitle">BoilerMake VII: January 24-26th, 2020</h2>
    				<p>BM VII was held once again in three gyms within Purdue’s Corec. Our hackathon this year divided up the hacking workspace into 6 separate zones, following our theme of Hack Your Own Adventure. We also provided air mattresses and lounge
    				areas to maximize the comfort of our hackers throughout the 36 hours. Of course, BM VII wasn’t complete with out late night assorted cookies and boba!</p>
    			</div>
    		</div>
    </div>

	<div class="container">

		<div class="columns is-vcentered content">

			<div class="column">
				<h2 class="subtitle">BoilerMake VI: October 19-21nd, 2018</h2>
				<p>BM VI was held in Hicks Undergraduate Library, where hackers could set up camp in rooms for uninterrupted hacking or hang out at our sponsor lounges.
				Doughnut and shaved ice trucks, emotional support dogs, and tech talks from Facebook and Purdue entrepreneurs brought smiles to hackers' faces.
				</p>
			</div>

			<div class="column">
				<img class="box is-paddingless" alt="Hicks hackers during BoilerMake VI" src='{{static_path "about_bm6_edit_2020.jpg"}}'>
			</div>

		</div>
	</div>

	<div class="container">

		<div class="columns is-vcentered content">

			<div class="column">
				<img class="box is-paddingless" alt="The Co-Rec full of hackers during BoilerMake V" src='{{static_path "about_bm5_edit_2020.jpg"}}'>
			</div>

			<div class="column">
				<h2 class="subtitle">BoilerMake V: September 20-22nd, 2017</h2>
				<p>BM V came back to the Cordova Recreational Sports Center for another 36 hours of unadulterated hacking. With more yoga, coffee, and neon light than ever before, students put together projects with the help of mentors and friends alike to
					exhibit to everyone at BoilerMake.</p>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="columns is-vcentered content">
			<div class="column">
				<h2 class="subtitle">BoilerMake IV: January 20-22nd, 2017</h2>
				<p>BM IV followed a space adventure theme as hackers became astronauts traveling through the stars. This event was once again held in the Cordova Recreational Sports Center among the basketball courts. 500 students came together once again to
					create under space themed decorations, arcade games, interactive lego boards.</p>
			</div>

			<div class="column">
				<img class="box is-paddingless" alt="The Co-Rec full of hackers during BoilerMake IV" src='{{static_path "about_bm4_edit_2020.jpg"}}'>
			</div>

		</div>
	</div>

	<div class="container">

		<div class="columns is-vcentered content">

			<div class="column">
				<img class="box is-paddingless" alt="The lambert field house as the hacking space for BoilerMake III" src='{{static_path "about_bm3_edit_2020.jpg"}}'>
			</div>

			<div class="column">
				<h2 class="subtitle">BoilerMake III: Oct 16-18th, 2015</h2>
				<p>BM III was once again located in Lambert Fieldhouse. This year,
					we provided arcade games, bean bags, and opportunities for hackers
					to enjoy their full hackathon experience. We also provided a diverse
					hardware lab for students to experiment and build with a variety
					of technologies.</p>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="columns is-vcentered content">
			<div class="column">
				<h2 class="subtitle">BoilerMake II: Oct 17-19th, 2014</h2>
				<p>BM II was the year of the BoilerMake Badges - custom Arduino boards for hackers to have fun with.
					Our venue changed to the Lambert Fieldhouse to accommodate the 500 hackers. We kept this
					number as the maximum to ensure that all the hackers and sponsors could fit into the same
					large room to interact and develop in.</p>
			</div>

			<div class="column">
				<img class="box is-paddingless" alt="Hackers hard at work at BoilerMake II" src='{{static_path "about_bm_2.jpg"}}'>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="columns is-vcentered content">
			<div class="column">
				<img class="box is-paddingless" alt="Hackers around a table at BoilerMake I" src='{{static_path "about_bm1_edit_2020.jpg"}}'>
			</div>

			<div class="column">
				<h2 class="subtitle">BoilerMake I: February 8-10th, 2014</h2>
				<p>The first BoilerMake started as a group of students involved with
					Purdue Hackers created BoilerMake as an organization under the
					Undergraduate Student Board. The goal was to get students involved and
					throw a hackathon where everyone could come together and create. It
					was created to be a great way for students to interact informally with
					companies and proving their technical skills through development.
					There were around 400 attendees from 18 schools and about 30 companies
					all within the same space of Purdue’s gym.</p>
			</div>
		</div>

	</div>



</section>



{{ template "footer" . }}
{{ end }}