{{ define "account" }}
{{ template "head" . }}

{{ template "navbar" . }}

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-5-tablet is-4-desktop" style="padding: 1.5rem 0;">
				<a class="button is-dark is-outlined is-fullwidth is-3 title" href="/apply">View my application</a>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column box is-5-tablet is-4-desktop">
				<form action="" method="post">

					<div class="field">
						<label for="first-name" class="label">First Name</label>
						<div class="control">
							<input type="text" name="first-name" maxlength="512" class="input" value="{{ .FormRefill.FirstName }}" required>
						</div>
					</div>

					<div class="field">
						<label for="last-name" class="label">Last Name</label>
						<div class="control">
							<input type="text" name="last-name" maxlength="512" class="input" value="{{ .FormRefill.LastName }}" required>
						</div>
					</div>


					<div class="field">
						<label for="email" class="label">Email</label>
						<div class="control">
							<input type="email" placeholder="you@school.edu" class="input" value="{{ .FormRefill.Email }}" disabled>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button is-fullwidth is-dark" type="submit">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
