{{ define "account" }}
{{ template "head" . }}

{{ template "navbar" . }}

<main>
	<div>
		<h1>Your Account</h1>
		<hr>

		<div>
			<strong>Email: </strong><span>{{ .Data.Email }}</span>
		</div>

		<div>
			<strong>First Name: </strong><span>{{ .Data.FirstName }}</span>
		</div>

		<div>
			<strong>Last Name: </strong><span>{{ .Data.LastName }}</span>
		</div>

		<div>
			<strong>Phone Number: </strong><span>{{ .Data.Phone }}</span>
		</div>

		<div>
			<strong>Project Idea: </strong><span>{{ .Data.ProjectIdea }}</span>
		</div>

		{{ range $i, $teamMember := .Data.TeamMembers }}
			<div>
				<strong>Team Member {{ $i }}: </strong><span>{{ $teamMember }}</span>
			</div>
		{{ end }}
	</div> 
</main>

{{ template "footer" . }}
{{ end }}
