{{ define "apply" }}
{{ template "header" . }}

{{ template "bmvii navbar" . }}

<section class="section bmvii-application" style='background-color: #6176CF; background-image: url({{ static_path "bmvii_application_background.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="box column is-6">

				<div class="columns is-centered content">
					<div class="column is-8">
						<img alt="Apply to BoilerMake" style="padding: 2rem 0;" src={{ static_path "bmvii_application_header.svg" }}>
					</div>
				</div>

				<form action="" method="post" enctype="multipart/form-data" style="padding: 0 1.5rem;">
					<h3>School</h3>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="school" class="label">School</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="school" class="input" value="{{ .FormRefill.School }}" required>
									{{ template "school datalist" }}
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="major" class="label">Major</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="major" class="input" value="{{ .FormRefill.Major }}" required>
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="graduation-year" class="label">Graduation Year</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth">
										<select name="graduation-year" required>
											{{ if not .FormRefill.GraduationYear }}
											<option disabled selected="true">Choose a year</option>
											{{ else }}
											<option disabled>Choose a year</option>
											{{ end }}

											{{ if eq .FormRefill.GraduationYear "2020" }}
											<option value="2020" selected>2020</option>
											{{ else }}
											<option value="2020">2020</option>
											{{ end }}

											{{ if eq .FormRefill.GraduationYear "2021" }}
											<option value="2021" selected>2021</option>
											{{ else }}
											<option value="2021">2021</option>
											{{ end }}

											{{ if eq .FormRefill.GraduationYear "2022" }}
											<option value="2022" selected>2022</option>
											{{ else }}
											<option value="2022">2022</option>
											{{ end }}

											{{ if eq .FormRefill.GraduationYear "2023" }}
											<option value="2023" selected>2023</option>
											{{ else }}
											<option value="2023">2023</option>
											{{ end }}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<h3>Personal</h3>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="school" class="label">Resume</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="file has-name">
									<label class="file-label">
										{{ if .FormRefill.ResumeFile }}
										<input class="file-input" type="file" accept=".pdf" name="resume">
										{{ else }}
										<input class="file-input" type="file" accept=".pdf" name="resume" required>
										{{ end }}
										<span class="file-cta">
											<span class="file-label">Upload…</span>
										</span>
										{{ if .FormRefill.ResumeFile }}
										<span class="file-name">{{ .FormRefill.ResumeFile }}</span>
										{{ else }}
										<span class="file-name">No file selected</span>
										{{ end }}
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="gender" class="label">Gender</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth">
										<select name="gender" required>
											{{ if or (eq .FormRefill.Gender "Female") (not .FormRefill.Gender) }}
											<option value="Female" selected>Female</option>
											{{ else }}
											<option value="Female">Female</option>
											{{ end }}

											{{ if eq .FormRefill.Gender "Male" }}
											<option value="Male" selected>Male</option>
											{{ else }}
											<option value="Male">Male</option>
											{{ end }}

											{{ if eq .FormRefill.Gender "Other" }}
											<option value="Other" selected>Other</option>
											{{ else }}
											<option value="Other">Other</option>
											{{ end }}

											{{ if eq .FormRefill.Gender "Prefer not to say" }}
											<option value="Prefer not to say" selected>Prefer not to say</option>
											{{ else }}
											<option value="Prefer not to say">Prefer not to say</option>
											{{ end }}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="race" class="label">Race</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<div class="select is-fullwidth">
										<select name="race" required>
											{{ if or (eq .FormRefill.Race "Asian or Pacific Islander") (not .FormRefill.Race) }}
											<option value="Asian or Pacific Islander" selected>Asian or Pacific Islander</option>
											{{ else }}
											<option value="Asian or Pacific Islander">Asian or Pacific Islander</option>
											{{ end }}

											{{ if eq .FormRefill.Race "Black or African American" }}
											<option value="Black or African American" selected>Black or African American</option>
											{{ else }}
											<option value="Black or African American">Black or African American</option>
											{{ end }}

											{{ if eq .FormRefill.Race "Hispanic or Latino" }}
											<option value="Hispanic or Latino" selected>Hispanic or Latino</option>
											{{ else }}
											<option value="Hispanic or Latino">Hispanic or Latino</option>
											{{ end }}

											{{ if eq .FormRefill.Race "Native American or American Indian" }}
											<option value="Native American or American Indian" selected>Native American or American Indian</option>
											{{ else }}
											<option value="Native American or American Indian">Native American or American Indian</option>
											{{ end }}

											{{ if eq .FormRefill.Race "White, Caucasian, or Middle Eastern" }}
											<option value="White, Caucasian, or Middle Eastern" selected>White, Caucasian, or Middle Eastern</option>
											{{ else }}
											<option value="White, Caucasian, or Middle Eastern">White, Caucasian, or Middle Eastern</option>
											{{ end }}

											{{ if eq .FormRefill.Race "Other" }}
											<option value="Other" selected>Other</option>
											{{ else }}
											<option value="Other">Other</option>
											{{ end }}

											{{ if eq .FormRefill.Race "Prefer not to say" }}
											<option value="Prefer not to say" selected>Prefer not to say</option>
											{{ else }}
											<option value="Prefer not to say">Prefer not to say</option>
											{{ end }}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="dietary-restrictions" class="label">Dietary Restrictions</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="dietary-restrictions" class="input" value="{{ .FormRefill.DietaryRestrictions }}">
								</div>
							</div>
						</div>
					</div>

					<h3>Social</h3>
					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="github" class="label">GitHub</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="github" class="input" value="{{ .FormRefill.Github }}">
								</div>
							</div>
						</div>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
							<label for="linkedin" class="label">LinkedIn</label>
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input type="text" name="linkedin" class="input" value="{{ .FormRefill.Linkedin }}">
								</div>
							</div>
						</div>
					</div>

					<br/>

					<div class="field">
						<label for="why-bm" class="label">Why do you want to come to BoilerMake?</label>
						<div class="control">
							<textarea class="textarea" name="why-bm" required>{{ .FormRefill.WhyBM }}</textarea>
						</div>
					</div>

					<div class="field">
						{{ if .FormRefill.Is18OrOlder }}
						<input type="checkbox" name="is-18-or-older" class="checkbox" checked required>
						{{ else }}
						<input type="checkbox" name="is-18-or-older" class="checkbox" required>
						{{ end }}
						<label for="mlh-code-of-conduct" class="checkbox">I am 18 years old or older</label>
					</div>

					<div class="field">
						{{ if .FormRefill.MLHCodeOfConduct }}
						<input type="checkbox" name="mlh-code-of-conduct" class="checkbox" checked required>
						{{ else }}
						<input type="checkbox" name="mlh-code-of-conduct" class="checkbox" required>
						{{ end }}
						<label for="mlh-code-of-conduct" class="checkbox">I agree to the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a></label>
					</div>

					<div class="field">
						{{ if .FormRefill.MLHContestAndPrivacy }}
						<input type="checkbox" name="mlh-contest-and-privacy" class="checkbox" checked required>
						{{ else }}
						<input type="checkbox" name="mlh-contest-and-privacy" class="checkbox" required>
						{{ end }}
						<label for="mlh-code-of-conduct">I agree to the <a href="https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md">MLH Contest Terms and Conditions</a> and the <a href="https://mlh.io/privacy">MLH Privacy Policy</a></label>
					</div>

					<div class="field has-text-centered">
						<button class="button is-red" type="submit">Submit Application</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "bmvii footer" . }}
{{ end }}
