{{ define "bmix_meet_team" }}
{{ template "head" . }}

{{ template "bmix navbar water" . }}

{{ template "flashes" .Flashes }}
<!-- Meet The Team -->
<section class="section has-background-image" id="meet-the-team" style='background-color: #5A4F87BF; background-image: url({{ static_path "bmix_meet_team_bg.svg" }}); min-height:1250px'>
    <div class="container" style="padding: 0 1.5rem; margin-bottom: 50px">
		<b> <p style="font-family:Raleway; font-weight:500px; font-size:60px; color:#3F2C4E"> Meet The Team </p> </b> 
	</div>
    <div class="team-photos" style="margin-left: 50px;">
        <div class="balloon-parent">
            <p> Caroline Chen <br> Director</p>
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Anna Kuruvilla <br> Comm Team Lead </p>
            <img src={{ static_path "bmix_comm_balloon.png" }} alt="Comm" class="balloon">
            <img src={{ static_path "bmix_anna_kuruvilla_comm.jpg" }} alt="anna" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Sahiti Tummala <br> Comm Team Member </p>
            <img src={{ static_path "bmix_comm_balloon.png" }} alt="Comm" class="balloon">
            <img src={{ static_path "bmix_sahiti_tummala_comm.png" }} alt="sahiti" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Rashmi Ananth <br> Comm Team Member </p>
            <img src={{ static_path "bmix_comm_balloon.png" }} alt="Comm" class="balloon">
            <img src={{ static_path "bmix_rashmi_ananth_comm.png" }} alt="rashmi" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Iris Yuan <br> Comm Team Member </p>
            <img src={{ static_path "bmix_comm_balloon.png" }} alt="Comm" class="balloon">
            <img src={{ static_path "bmix_iris_yuan_Comm.png" }} alt="iris" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Jisoo Kim <br> Design Team Lead </p>
            <img src={{ static_path "bmix_design_balloon.png" }} alt="Design" class="balloon">
            <img src={{ static_path "bmix_jisoo_kim_design.jpeg" }} alt="jisoo" class="team-picture" style="width: 100%">
        </div>
        <div class="balloon-parent">
            <p> Bengisu Cuneyit <br> Design Team Member </p>
            <img src={{ static_path "bmix_design_balloon.png" }} alt="Design" class="balloon">
            <img src={{ static_path "bmix_bengisu_cuneyit_design.png" }} alt="su" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Gayathri Sriram <br> Design Team Member </p>
            <img src={{ static_path "bmix_design_balloon.png" }} alt="Design" class="balloon">
            <img src={{ static_path "bmix_gayathri_sriram_design.png" }} alt="gayathri" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Max Cherbak <br> Design Team Member </p>
            <img src={{ static_path "bmix_design_balloon.png" }} alt="Design" class="balloon">
            <img src={{ static_path "bmix_max_cherbak_design.png" }} alt="max" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Vicki Liu <br> Design Team Member </p>
            <img src={{ static_path "bmix_design_balloon.png" }} alt="Design" class="balloon">
            <img src={{ static_path "bmix_vicki_liu_design.jpg" }} alt="vicki" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Varun Shah <br> Dev Team Lead </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_varun_shah_dev.png" }} alt="varun" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Pranav Jaikumar <br> Dev Team Member </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_pranav_jaikumar_dev.jpg" }} alt="pranav" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Gowri Harish <br> Dev Team Member </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_gowri_dev.jpg" }} alt="gowri" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Justin Choi <br> Dev Team Member </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_justin_choi_dev.png" }} alt="justin" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Savreen Kaur <br> Dev Team Member </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_savreen_kaur_dev.png" }} alt="savreen" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Isha Prabesh <br> Dev Team Member </p>
            <img src={{ static_path "bmix_dev_balloon.png" }} alt="Dev" class="balloon">
            <img src={{ static_path "bmix_isha_prabesh_dev.jpg" }} alt="isha" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Nguyen Do <br> Sponsorship Team Lead </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_nguyen_do.png" }} alt="nguyen" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Henry Wellman <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_henry_wellman.jpg" }} alt="henry" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Joey Powers <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_joey_powers_sponsorship.jpg" }} alt="joey" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Pallav Agarwal <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_pallav_agarwal_sponsorship.png" }} alt="pallav" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Harshita Janardan <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_harshita_janardan_sponsorship.png" }} alt="harshita" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Sweta Saravanan  <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_sweta_saravanan_sponsorship.png" }} alt="sweta" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Daniel Joseph <br> Sponsorship Team Member </p>
            <img src={{ static_path "bmix_sponsorship_balloon.png" }} alt="Spons" class="balloon">
            <img src={{ static_path "bmix_daniel_joseph_sponsorship.png" }} alt="daniel" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Anisha Bhat <br> UX Team Lead </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_anisha_bhat_ux.jpg" }} alt="anisha" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Miranda Chai <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_miranda_chai_ux.jpg" }} alt="miranda" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Jacquie Yu <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_jacquie_yu_ux.jpg" }} alt="jacquie" class="team-picture" style="width:100%">
        </div>
        <div class="balloon-parent">
            <p> Ariana Zhu <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_ariana_zhu_ux.png" }} alt="ariana" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Timothy Hein <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_timothy_hein_ux.png" }} alt="timmy" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Andrew Thomae <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_andrew_thomae_ux.png" }} alt="andrew" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Enya Song <br> UX Team Member </p>
            <img src={{ static_path "bmix_ux_balloon.png" }} alt="UX" class="balloon">
            <img src={{ static_path "bmix_enya_song_ux.png" }} alt="enya" class="team-picture">
        </div>
    </div>
</section>
{{ template "footer" . }}
{{ end }}