{{ define "bmix sponsors" }}

{{ template "head" . }}
{{ template "bmix navbar water" . }}
{{ template "flashes" .Flashes }}

<!-- Sponsors -->
<section class="section has-background-image" id="sponsors" style='background-image: url({{ static_path "bmix_sponsorship_bg.svg" }}); min-height: 1999px; background-color: #8BBAEA'>
    <div class="container">
        <div class="columns is-mobile has-text-centered content">
            <div class="column is-5-mobile is-3-tablet is-2-desktop has-text-centered">
                <b> <p style="font-family:Raleway; font-weight:500px; font-size:60px; color:#3F2C4E; text-align: center"> Sponsors </p> </b>
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-centered content">
        <div class="column is-12" style="padding: 1.5rem 2.5rem; margin: 2.5rem 0;">
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-half">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://boilerlink.purdue.edu/organization/SFAB" rel="noopener noreferrer" target="_blank" style="margin-left: 75px; margin-top: 40px;">
                            <img alt="Purdue SFAB" src={{ static_path "sponsors_sfab.png" }} style="width:60%; margin-left:-3.5%">
                        </a>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://www.deere.com/" rel="noopener noreferrer" target="_blank" style="margin-top: 15%; width:80%;">
                            <img alt="John Deere" src={{ static_path "sponsors_john_deere.png" }}>
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-5">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://www.ecolab.com/" rel="noopener noreferrer" target="_blank" style="margin-top: 100px;">
                            <img alt="Ecolab" src={{ static_path "sponsors_ecolab.png" }} style="width:150%">
                        </a>
                    </div>
                </div>
                <div class="column is-5">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src = {{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://www.microsoft.com/" el="noopener noreferrer" target="_blank">
                            <img alt="Microsoft" src={{ static_path "sponsors_microsoft.png" }} style="width:150%; margin-top: 45%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-5">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://www.sandia.gov/" rel="noopener noreferrer" target="_blank" style="margin-top: 100px;">
                            <img alt="Sandia National Laboratories" src={{ static_path "sponsors_sandia.png" }} style="width:150%">
                        </a>
                    </div>
                </div>
                <div class="column is-5">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src = {{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="http://bloomberg.com" el="noopener noreferrer" target="_blank">
                            <img alt="Bloomberg" src={{ static_path "sponsors_bloomberg.svg" }} style="width:150%; margin-top: 45%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-5">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="https://www.qualcomm.com" rel="noopener noreferrer" target="_blank" style="margin-top: 75px;">
                            <img alt="Qualcomm" src={{ static_path "sponsors_qualcomm.png" }} style="width:200%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content" style="margin-top: 2%;">
                <div class="sponsor-parent">
                    <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                    <a class="sponsor" href="https://www.wolfram.com/language/" rel="noopener noreferrer" target="_blank" style="margin-top: 50px;">
                        <img alt="Wolfram" src={{ static_path "sponsors_wolfram.svg" }} style="width:150%; margin-top:15%">
                    </a>
                </div>
                <div class="sponsor-parent">
                    <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                    <a class="sponsor" href="http://robinhood.com/" rel="noopener noreferrer" target="_blank" style="margin-top: 70px; width: 45%">
                        <img alt="Robinhood" src={{ static_path "bmix_rh_sponsor.png" }} style="width:150%; margin-top:20%">
                    </a>
                </div>
                <div class="sponsor-parent">
                    <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                    <a class="sponsor" href="https://www.sketch.com" rel="noopener noreferrer" target="_blank" style="margin-top: 50px;">
                        <img alt="Sketch" src={{ static_path "sponsors_sketch_dark.png" }} style="margin-top:15%">
                    </a>
                </div>
            </div>
           <div class="columns is-mobile is-centered is-vcentered content" style="margin-top: 2%;">
                <div class="column is-4">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="http://digitalocean.com/" rel="noopener noreferrer" target="_blank" style="margin-top: 0px; width: 45%; height: 50%; text-align: center;">
                            <img alt="Digital Ocean" src={{ static_path "sponsors_digital_ocean.svg" }} style="width:150%">
                        </a>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="sponsor-parent">
                        <img class="big-sponsor-cloud" alt="Sponsor Cloud" src={{ static_path "bmix_sponsor_cloud.png" }}>
                        <a class="sponsor" href="http://cloud.google.com/" rel="noopener noreferrer" target="_blank" style="margin-top: 0px; width: 45%; height: 50%; text-align: center;">
                            <img alt="Google Cloud" src={{ static_path "sponsors_google_cloud.png" }} style="width:150%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ template "bmix footer" . }}
{{ end }}