{{ define "bmix_about" }}
{{ template "head" . }}

{{ template "bmix navbar water" . }}

{{ template "flashes" .Flashes }}

<!-- About BM -->
<section class="section has-background-image" id="why" style='background-color: #FFE9F9; background-image: url({{ static_path "about_bmix.svg" }}); min-height:1000px'>
	<div class="container" style="padding: 0 1.5rem;">
		<b> <p style="font-family:Raleway; font-weight:500px; font-size:60px; color:#3F2C4E"> About BM </p> </b> 
	</div>
    <div class="container about-parent" margin-top: 50px>
        <img src={{ static_path "bmix_about_bm_blimp.png" }} alt="blimp">
    </div>
</section>
{{ template "footer" . }}
{{ end }}