{{ define "bmix_meet_team" }}
{{ template "head" . }}

{{ template "bmix navbar water" . }}

{{ template "flashes" .Flashes }}
<!-- Meet The Team -->
<section class="section has-background-image" id="meet-the-team" style='background-color: #5A4F87BF; background-image: url({{ static_path "bmix_meet_team_bg.svg" }}); min-height:1250px'>
    <div class="container" style="padding: 0 1.5rem; margin-bottom: 50px">
		<b> <p style="font-family:Raleway; font-weight:500px; font-size:60px; color:#3F2C4E"> Meet The Team </p> </b> 
	</div>
    <div class="team-photos" style="margin-left: 50px;">
        <div class="balloon-parent">
            <p> Caroline Chen <br> Director</p>
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <p> Varun Shah <br> Dev Team Lead </p>
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
        <div class="balloon-parent">
            <img src={{ static_path "bmix_director.svg" }} alt="Director" class="balloon">
            <img src={{ static_path "bmix_director_balloon.png" }} alt="caroline" class="team-picture">
        </div>
    </div>
</section>
{{ template "footer" . }}
{{ end }}