{{ define "bmviii home" }}
{{ template "head" . }}

{{ template "bmviii navbar" . }}

{{ template "flashes" .Flashes }}
{{ template "mlh badge" }}

<section class="section has-background-image" style='background-color: #A7C3FF; background-image: url({{ static_path "bmviii_lp_buildings.svg" }}); min-height:1004px'>
    <div class="container" style="margin-top: 372px">
        <div class="columns is-centered is-mobile content" style="margin-bottom: 0px">
            <div class="column is-5-desktop is-8-tablet is-12-mobile is-offset-2-mobile" style="padding-bottom: 0px; padding-top: 0px">
                <img class="logo-img" alt="Boilermake" src={{ static_path "bmviii_logo_bigger.svg" }}>
            </div>
        </div>
        <div class="columns is-centered is-mobile content">
            <div class="column is-4-desktop is-7-tablet is-9-mobile" style="padding-top: 0px">
                <img alt="Lay back and hack" src={{ static_path "bmviii_lay_back_and_hack.svg" }}>
            </div>
        </div>
        {{ if eq .Status 4 }}
        <div class="columns is-centered is-mobile content">
            <div class="column is-3-desktop is-6-tablet is-8-mobile">
                <a href="/live">
                    <img alt="Go Live!" src={{ static_path "bmviii_go_live_button.png" }}>
                </a>
            </div>
        </div>
        {{ else }}
        <div class="columns is-centered is-mobile content">
            <div class="column is-3-desktop is-6-tablet is-8-mobile">
                {{ if .IsAuthenticated }}
                <a href="/dashboard">
                    <img alt="Apply Now!" src={{ static_path "bmviii_apply_now_button.svg" }}>
                </a>
                {{ else }}
                <a href="/signup">
                    <img alt="Apply Now!" src={{ static_path "bmviii_apply_now_button.svg" }}>
                </a>
                {{ end }}
            </div>
        </div>
        {{ end }}
        <div class="columns is-centered is-mobile content" style="margin-bottom: 0px">
            <div class="column is-4-desktop is-7-tablet is-10-mobile" style="padding-bottom: 0px;">
                <img alt="January 22-24, 2021" src={{ static_path "bmviii_date.svg" }}>
            </div>
        </div>
        <div class="columns is-centered is-mobile content">
            <div class="column is-3-desktop is-6-tablet is-9-mobile" style="padding-top: 0px;">
                <img alt="Purdue University" src={{ static_path "bmviii_purdue_text.svg" }}>
            </div>
        </div>
    </div>
</section>

<section class="section contains-background-image" id="why" style='background-color: #FF8E9E; padding-bottom: 125px; padding-left: 0; padding-right:0;'>
	<div class="container" style="padding: 0 1.5rem;">
		<div class="columns is-mobile is-centered content">
			<div class="column is-6-mobile is-2-tablet is-2-desktop" >
				<img alt="Why BoilerMake?" src={{ static_path "bmviii_why_bm_text.svg" }}>
			</div>
		</div>
	</div>
	<div class="container" style="display: flex; justify-content: flex-end; padding-top: 48px; margin-right: 0px;">
	    <div class="column box content is-four-fifths" style="background-color: #6696FF; border-radius: 20px 0 0 20px;">
                <div class="content" style="margin-left: 10px">
                    <p style="font-family: Cabin; family-style: normal; font-weight: 600; font-size: 18px">
                        In response to the COVID-19 pandemic, and in accordance with university and local guidelines, BoilerMake VIII will be fully virtual.
                        While the online format will be a new experience for BoilerMake, our dedication to creating an empowering experience for our hackers to develop their projects remains.
                        Our team has been hard at work conducting our virtual transition to ensure that both our hackers and sponsors have the necessary platforms and tools to build community and undergo an unforgettable and meaningful experience.
                        If you have any questions, refer to our FAQ or email us at team@boilermake.org for additional information.
                    </p>
                </div>
        </div>
	</div>
	<div class="container" style="display: flex; justify-content: flex-end; padding-top: 72px;">
        <div class="column is-half">
            <p style="font-family: Cabin; family-style: normal; font-size: 28px; color: #000000;">BoilerMake is Purdue University's largest hackathon. Over the past seven years,
             thousands of students from across the country have come to BoilerMake. This event is for experienced hackers, newbies to technology, and everyone in between.</p>
        </div>
    </div>
    <div class="container" style="padding-top: 72px;">
        <div class="columns">
            <div class="column is-half" style="padding-right: 36px;">
                <img alt="Blue van" src={{ static_path "bmviii_van.svg" }}>
            </div>
            <div class="column is-half"; style="display: flex; justify-content: space-between; padding-left:36px;">
                <div class="columns is-mobile">
                    <div class="column is-one-third">
                        <img src={{ static_path "bmvii_why_build.svg" }} class="bmvii-why__img" alt="Gears Turning">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Build Creative Projects</p>
                        <img src={{ static_path "bmvii_why_resume.svg" }} class="bmvii-why__img" alt="Good resume">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Boost Your Resume</p>
                    </div>
                    <div class="column is-one-third">
                        <img src={{ static_path "bmvii_why_companies.svg" }} class="bmvii-why__img" alt="Formal Attire">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Talk to Company Reps</p>
                        <img src={{ static_path "bmvii_why_skills.svg" }} class="bmvii-why__img" alt="Brain">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Learn New Skills</p>
                    </div>
                    <div class="column is-one-third">
                        <img src={{ static_path "bmvii_why_memories.svg" }} class="bmvii-why__img" alt="Floppy Disk">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Make Incredible Memories</p>
                        <img src={{ static_path "bmvii_why_prizes.svg" }} class="bmvii-why__img" alt="Trophy">
                        <p class="subtitle is-5 has-text-white has-text-weight-bold" style="font-family: Cabin;">Win Cool Prizes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" style='background: url({{ static_path "bmviii_rings.svg" }}) center center no-repeat, linear-gradient(0, #A7C3FF 50%, #FF8E9E 50%); padding: 6rem 1.5rem;'></section>

<section class="section" id="surfboards" style='position: relative; background-color: #A7C3FF; padding: 0;'>
    <div class="columns is-centered" style='margin-bottom: 0;'>
      <div class="column is-half" style='padding-bottom: 0;'>
        <img src={{ static_path "bmviii_surfboards.svg" }} alt="Surfboards">
      </div>
    </div>

    <div class="bmviii-waves" style="bottom: -5px">
      <img src={{ static_path "bmviii_sand.svg" }} alt="Sand">
    </div>
</section>

<section class="section has-background-image" id="faq-testimonial" style='background-image: url({{ static_path "bmviii_faq_testimonial_background_no_waves.svg" }}); background-size: 1440px 2049px; min-height: 2049px; background-color: #FFE4C3; position: relative;'>
    <div class="container">
        <div class="container" style="padding: 0 1.5rem;">
                <div class="columns is-mobile is-centered content">
                    <div class="column is-5-mobile is-2-tablet is-2-desktop is-offset-1-desktop is-offset-1-mobile" style="margin-top:72px">
                        <img alt="FAQ" src={{ static_path "bmviii_faq_text.svg" }}>
                    </div>
                </div>
        </div>

        <div class="container" style="padding-top: 108px;">
            <div class="columns is-mobile">
                <div class="column is-half">
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-left-accordion">What is a hackathon?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                A hackathon - or hacking marathon - is an event that promotes self-expression and creativity through technology.
                                Anyone with or without a technical background can attend to learn, build, and share new things.
                                Hackers form teams around a problem or idea, collaboratively build or code a unique solution from scratch, and compete for prizes with other teams.
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-left-accordion">Is it free?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                Yes! BoilerMake is an all-expense paid experience. We provide hackers with the venue, swag, and food throughout the weekend.
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-left-accordion">Will BoilerMake be in person?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                Due to the COVID-19 pandemic, we will be shifting to a completely virtual BoilerMake VIII!
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-left-accordion">Given an online event, will there still be opportunities to form teams and interact with sponsors and other hackers?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                Absolutely!
                                We would like to recreate the community environment of a hackathon through virtual means, which include hacker and sponsor interactions. When we confirm which platforms we will be using to host our events, we will be able to provide more information on what the event will look like!
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-left-accordion">What if I don't know how to code?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                No problem! Come to BoilerMake to learn a new skill and meet people. We'll have tech talks, a Slack workplace to ask questions,
                                and engineers from sponsoring companies to help you build something you can be proud of. This is your best chance
                                to learn alongside so many other driven hackers.
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <button class="bmviii-left-accordion">How large can my team be?</button>
                        <div class="bmviii-left-accordion-content">
                            <p>
                                You can have a maximum of 4 people on your team.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                     <div class="container bmviii-container-accordion">
                        <button class="bmviii-right-accordion">What are the requirements to attend?</button>
                        <div class="bmviii-right-accordion-content">
                            <p>
                                BoilerMake is open to all undergraduate college students who are of age 18 or older.
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-right-accordion">My team was accepted and I wasn't - can I attend?</button>
                        <div class="bmviii-right-accordion-content">
                            <p>
                                Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-right-accordion">Do you allow walk-ins and last minute registration?</button>
                        <div class="bmviii-right-accordion-content">
                            <p>
                                We accept walk-ins based on availability after hacker check-in.
                                We will announce more details closer to the event!
                            </p>
                        </div>
                    </div>
                    <div class="container bmviii-container-accordion">
                        <button class="bmviii-right-accordion">I missed the deadline to apply - can I attend?</button>
                        <div class="bmviii-right-accordion-content">
                            <p>
                                We set a deadline to ensure that all applications are given equal consideration to attend BoilerMake.
                                Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
                            </p>
                        </div>
                    </div>
                    <div class="container">
                        <button class="bmviii-right-accordion">What if I have any other questions?</button>
                        <div class="bmviii-right-accordion-content">
                            <p>
                                Please email us at <a href='mailto:team@boilermake.org'>team@boilermake.org</a>!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 3rem 1.5rem;" >
        <div class="container" style="padding: 1rem 1.5rem;">
                <div class="columns is-mobile is-centered content">
                    <div class="column is-11-mobile is-4-tablet is-4-desktop is-offset-1-desktop is-offset-1-mobile" style="margin-top:72px">
                        <img alt="Testimonial" src={{ static_path "bmviii_testimonial_text.svg" }}>
                    </div>
                </div>
        </div>
        <div class="carousel-wrapper" style="margin-top: 125px; margin-left: 1.5rem">
            <div class="carousel">
                <div class="container carousel-entry active" style='background-repeat: no-repeat; background-size: 100% 100%; background-image: url({{ static_path "bmviii_testimonial_01.svg" }});'>
                    <div class="columns is-mobile is-centered" style="padding-top: 2rem">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop box" style="padding-top: 4rem; padding-bottom: 4rem">
                            <div class="columns is-desktop">
                                <div class="column is-10-tablet is-half-desktop is-full-mobile margin-tablet-1" style="padding-top: 0px">
                                    <img alt="Lauren Lum" src={{ static_path "lauren.jpg" }} style="border-radius: 12px">
                                </div>
                                <div class="column is-full-tablet is-two-fifths-desktop is-full-mobile content">
                                    <p style="font-family: Cabin;">
                                        BoilerMake gave me the resources and support I needed to create a project I was truly proud of.
                                        If you have an idea and a passion for creating something from scratch, don’t let this opportunity pass you up!
                                    </p>
                                    <div class="columns is-mobile">
                                        <div class="column is-offset-3">
                                            <p style="font-family: Cabin; family-style: normal; font-weight: 600; font-size: 20px" >
                                                Lauren Lum
                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container carousel-entry" style='background-repeat: no-repeat; background-size: 100% 100%; background-image: url({{ static_path "bmviii_testimonial_02.svg" }})'>
                    <div class="columns is-mobile is-centered" style="padding-top: 2rem">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop box" style="padding-top: 4rem; padding-bottom: 4rem">
                            <div class="columns is-desktop">
                                <div class="column is-10-tablet is-half-desktop is-full-mobile margin-tablet-1" style="padding-top: 0px">
                                    <img alt="Samuel Ingram" src={{ static_path "sam.jpg" }} style="border-radius: 12px">
                                </div>
                                <div class="column is-full-tablet is-half-desktop is-full-mobile content">
                                    <p style="font-family: Cabin;">
                                        BoilerMake has been the perfect event to build some exciting projects with some great people.
                                        I have always had fun spending the weekend alongside other hackers, and it is a great opportunity to learn more while
                                        creating something new.
                                    </p>
                                    <div class="columns is-mobile">
                                        <div class="column is-offset-3">
                                            <p style="font-family: Cabin; family-style: normal; font-weight: 600; font-size: 20px" >
                                                Samuel Ingram
                                            <p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container carousel-entry" style='background-repeat: no-repeat; background-size: 100% 100%; background-image: url({{ static_path "bmviii_testimonial_03.svg" }});'>
                    <div class="columns is-mobile is-centered" style="padding-top: 2rem">
                        <div class="column is-12-mobile is-10-tablet is-10-desktop box" style="padding-top: 4rem; padding-bottom: 4rem">
                            <div class="columns is-desktop">
                                <div class="column is-10-tablet is-half-desktop is-full-mobile margin-tablet-1" style="padding-top: 0px">
                                    <img alt="Kevin Cardona" src={{ static_path "kevin.jpg" }} style="border-radius: 12px">
                                </div>
                                <div class="column is-full-tablet is-half-desktop is-full-mobile">
                                    <p style="font-family: Cabin;">
                                        Hacking at BoilerMake made me realize my potential as a creator. Taking advantage of what
                                        the weekend had to offer made me lifelong friends and gave me the opportunity to explore what I enjoy most in my field.
                                    </p>
                                    <div class="columns is-mobile">
                                        <div class="column is-offset-3">
                                            <p style="font-family: Cabin; family-style: normal; font-weight: 600; font-size: 20px" >
                                                Kevin Cardona
                                            <p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-button-next"></div>
                <div class="carousel-button-prev"></div>
            </div>
        </div>
    </div>
    <div class="bmviii-waves">
      <img src={{ static_path "bmviii_waves.svg" }} alt="Waves">
    </div>
</section>

<section class="section has-background-image" id="sponsors" style='background-image: url({{ static_path "bmviii_sponsors_background.svg" }}); min-height: 1024px; background-color: #8BBAEA'>
    <div class="container">
        <div class="columns is-mobile is-centered content">
            <div class="column is-5-mobile is-3-tablet is-2-desktop" style="margin-top:72px">
                <img alt="Sponsors" src={{ static_path "bmviii_sponsors_text.svg" }}>
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-centered content" style="margin-top: 10%">
        <div class="column is-12-mobile is-8-tablet is-8-desktop box" style="padding: 1.5rem 2.5rem; margin: 2.5rem 0;">
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-3-desktop is-4-tablet is-5-mobile">
                    <a href="https://www.collinsaerospace.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Collins Aerospace" src={{ static_path "sponsors_collins.jpeg" }}>
                    </a>
                </div>
                <div class="column is-4-desktop is-4-tablet is-5-mobile">
                    <a href="https://www.qualcomm.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Qualcomm" src={{ static_path "sponsors_qualcomm.jpg" }}>
                    </a>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-3-desktop is-4-tablet is-5-mobile">
                    <a href="https://www.ecolab.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Ecolab" src={{ static_path "sponsors_ecolab.jpg" }}>
                    </a>
                </div>
                <div class="column is-3-desktop is-4-tablet is-5-mobile is-offset-1-desktop">
                    <a href="https://www2.deloitte.com/us/en.html" rel="noopener noreferrer" target="_blank">
                        <img alt="Deloitte" src={{ static_path "sponsors_deloitte.png" }}>
                    </a>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content" style="margin-bottom: 0px">
                <div class="column is-3-desktop is-4-tablet is-5-mobile">
                    <a href="https://www.palantir.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Palantir" src={{ static_path "sponsors_palantir.png" }}>
                    </a>
                </div>
                <div class="column is-4-desktop is-4-tablet is-5-mobile is-offset-1-desktop">
                    <a href="https://www.deere.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="John Deere" src={{ static_path "sponsors_john_deere.png" }}>
                    </a>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content" style="margin-top: 20px;">
                <div class="column is-2-desktop is-4-tablet is-4-mobile ">
                    <a href="https://polytechnic.purdue.edu/" rel="noopener noreferrer" target="_blank">
                        <img alt="Purdue Polytechnic Institute" src={{ static_path "sponsors_polytech.png" }}>
                    </a>
                </div>
                <div class="column is-2-desktop is-4-tablet is-4-mobile is-offset-1-desktop">
                    <a href="https://www.capitalone.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Capital One" src={{ static_path "sponsors_capital_one.png" }}>
                    </a>
                </div>
                <div class="column is-2-desktop is-3-tablet is-3-mobile is-offset-1-desktop">
                    <a href="http://hackp.ac/mlh-stickermule-hackathons" rel="noopener noreferrer" target="_blank">
                      <img alt="Sticker Mule" src={{ static_path "sponsors_stickermule.png" }}>
                    </a>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered content">
                <div class="column is-2-desktop is-offset-1-desktop is-3-tablet is-3-mobile">
                    <a href="https://www.wolfram.com/language/" rel="noopener noreferrer" target="_blank">
                        <img alt="Wolfram Language" src={{ static_path "sponsors_wolfram.svg" }}>
                    </a>
                </div>
                <div class="column is-2-desktop is-offset-1-desktop is-3-tablet is-3-mobile">
                    <a href="https://www.digitalocean.com/" rel="noopener noreferrer" target="_blank">
                        <img alt="Digital Ocean" src={{ static_path "sponsors_digital_ocean.svg" }}>
                    </a>
                </div>
                <div class="column is-4 is-3-tablet is-3-mobile">
                    <a href="https://pinnacle.us.org/" rel="noopener noreferrer" target="_blank">
                        <img alt="Pinnacle" src={{ static_path "sponsors_pinnacle.svg" }}>
                    </a>
                </div>
                <div class="column is-2 is-3-tablet is-3-mobile">
                    <a href="https://thecodex.me/" rel="noopener noreferrer" target="_blank">
                        <img alt="The Codex" src={{ static_path "sponsors_codex.png" }}>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{ template "bmviii footer" . }}
{{ end }}
