{{ define "bmviii home temp" }}
{{ template "head" . }}

{{ template "bmviii navbar" . }}

{{ template "flashes" .Flashes }}
{{ template "mlh badge" }}

<section class="section has-background-image" style='background-image: url({{ static_path "bmviii_home_small.svg" }})'>
	<div class="container" style="padding-top: 200px">
        <div class="columns is-centered content has-text-centered">
            <div class="column is-5">
                <h2 class="title">
                    <img alt="Boilermake" src={{ static_path "bmviii_boilermake_logo.svg" }}>
                </h2>
                <h3 class="subtitle">
                    <img alt="Lay back and hack" src={{ static_path "bmviii_lay_back_and_hack.svg" }} width="350">
                </h3>
            </div>
        </div>
		<div class="columns is-centered content has-text-centered">
			<div class="column is-5">
				<a class="title is-3 button is-red" href="https://forms.gle/ugmBaA4bHvm6rwjF7">Apply Now!</a>
			</div>
		</div>
		<div class="columns is-centered content has-text-centered">
            <div class="column is-5">
                <h2 class="title">
                    <img alt="January 22-24, 2021" src={{ static_path "bmviii_date.svg" }} width="300" height="150">
                </h2>
                <h3 class="subtitle">
                    <img alt="Purdue University" src={{ static_path "bmviii_purdue_text.svg" }} width="200" height="150">
                </h3>
            </div>
        </div>
	</div>
</section>

<section class="section has-background-image" id="why" style='background-color: #FF8E9E; background-image: url({{ static_path "bmviii_why_bm_background.svg" }}); padding-bottom: 125px; padding-left: 0; padding-right:0;'>
	<div class="container" style="padding: 0 1.5rem;">
		<div class="columns is-centered content">
			<div class="column is-2 bmviii-section-header" style="margin-left: 48px; margin-right: 12px; margin-top:72px">
				<img alt="Why BoilerMake?" src={{ static_path "bmviii_why_bm_text.svg" }}>
			</div>
		</div>
	</div>
	<div class="container" style="display: flex; justify-content: flex-end; padding-top: 48px; margin-right: 0px;">
	    <div class="column is-full">
            <div class="box content" style="height: 180px">
                <article>
                    <div class="media-content">
                        <div class="content">
                            <p style="font-family: Cabin; family-style: normal; font-weight: 600; font-size: 20px">
                                In response to the COVID-19 pandemic, and in accordance with university and local guidelines, BoilerMake VIII will be fully virtual.
                                While the online format will be a new experience for BoilerMake, our dedication to creating an empowering experience for our hackers to develop their projects remains.
                                Our team has been hard at work conducting our virtual transition to ensure that both our hackers and sponsors have the necessary platforms and tools to build community and undergo an unforgettable and meaningful experience.

                                If you have any questions, refer to our FAQ or email us at team@boilermake.org for additional information.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
	</div>
	<div class="container" style="display: flex; justify-content: flex-end; padding-top: 72px;">
        <div class="column is-half">
            <p style="font-family: Cabin; family-style: normal; font-size: 28px; color: #000000;">BoilerMake is Purdue University's largest hackathon. Over the past seven years,
             thousands of students from across the country have come to BoilerMake. This event is for experienced hackers, newbies to technology, and everyone in between.</p>
        </div>
    </div>
    <div class="container" style="display: flex; justify-content: space-between;">
        <div class="column is-half">
            <img alt="Blue van" src={{ static_path "bmviii_van.svg" }}>
        </div>
        <div class="column is-half"; style="display: flex; justify-content: space-between; padding-top: 120px;">
            <div class="column is-one-third">
                <img src={{ static_path "bmvii_why_build.svg" }} class="bmvii-why__img" alt="Gears Turning">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Build Creative Projects</p>
                <img src={{ static_path "bmvii_why_resume.svg" }} class="bmvii-why__img" alt="Good resume">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Build Creative Projects</p>
            </div>
            <div class="column is-one-third">
                <img src={{ static_path "bmvii_why_companies.svg" }} class="bmvii-why__img" alt="Formal Attire">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Talk to Company Reps</p>
                <img src={{ static_path "bmvii_why_skills.svg" }} class="bmvii-why__img" alt="Brain">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Learn New Skills</p>
            </div>
            <div class="column is-one-third">
                <img src={{ static_path "bmvii_why_memories.svg" }} class="bmvii-why__img" alt="Floppy Disk">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Make Incredible Memories</p>
                <img src={{ static_path "bmvii_why_prizes.svg" }} class="bmvii-why__img" alt="Trophy">
                <p class="subtitle is-5 has-text-white has-text-weight-bold">Win Cool Prizes</p>
            </div>
        </div>
    </div>
</section>

<section class="section has-background-image" id="surfboards" style='background-image: url({{ static_path "bmviii_surfboard_background.svg" }})'>
    <div style="display:flex; justify-content: center align-self: flex-end; padding-bottom:0">
        <img src={{ static_path "bmviii_surfboards.svg" }} class="bmvii-why__quarry" alt="Surfboards">
    </div>
</section>

<section class="section accordions has-background-image" id="faq" style='background-image: url({{ static_path "bmviii_faq.svg" }})'>
    <div class="container" style="padding: 0 1.5rem;">
        <div class="columns is-centered content">
            <div class="column is-2 bmviii-section-header" style="margin-left: 48px; margin-right: 12px; margin-top:72px">
                <img alt="Why BoilerMake?" src={{ static_path "bmviii_faq_text.svg" }}>
            </div>
        </div>
    </div>
    <article class="accordion is-active">
        <div class="accordion-header toggle">
            <p style="font-family: Cabin, serif;font-style: normal;font-weight: bold;font-size: 26px;">What is a hackathon?<p>
        </div>
        <div class="accordion-body">
            <div class="accordion-content">
                A hackathon - or hacking marathon - is an event that promotes self-expression and creativity through technology.
                Anyone with or without a technical background can attend to learn, build, and share new things.
                Hackers form teams around a problem or idea, collaboratively build or code a unique solution from scratch, and compete for prizes with other teams.
            </div>
        </div>
    </article>
    <article class="accordion">
        <div class="accordion-header">
            <p class="bmviii-faq-text">Is it free?<p>
            <button class="toggle" aria-label="toggle"></button>
        </div>
        <div class="accordion-body">
            Yes! BoilerMake is completely free for all attendees.
        </div>
    </article>
    <article class="accordion">
        <div class="accordion-header">
            <p class="bmviii-faq-text">will BoilerMake be in person?<p>
            <button class="toggle" aria-label="toggle"></button>
        </div>
        <div class="accordion-body">
            Due to the COVID-19 pandemic, we will be shifting to a completely virtual BoilerMake VIII!
        </div>
    </article>
    <article class="accordion">
        <div class="accordion-header">
            <p class="bmviii-faq-text">Given an online event, will there still be oppurtunites to form teams and interact with sponsors and other hackers?<p>
            <button class="toggle" aria-label="toggle"></button>
        </div>
        <div class="accordion-body">
            Absolutely!
            We would like to recreate the community environment of a hackathon through virtual means, which include hacker and sponsor interactions.
            When we confirm which platforms we will be using to host our events, we will be able to provide more information on what the event will look like!
        </div>
    </article>
    <article class="accordion">
        <div class="accordion-header">
            <p class="bmviii-faq-text">What if I don't know how to code?<p>
            <button class="toggle" aria-label="toggle"></button>
        </div>
        <div class="accordion-body">
            No problem!
            Come to BoilerMake to learn a new skill and meet people.
            We'll have tech talks, a Slack workplace to ask questions, and engineers from sponsoring companies to help you build something you can be proud of.
            This is your best chance to learn alongside so many other driven hackers.
        </div>
    </article>
    <article class="accordion">
        <div class="accordion-header">
            <p class="bmviii-faq-text">How large can my team be?<p>
            <button class="toggle" aria-label="toggle"></button>
        </div>
        <div class="accordion-body">
            You can have a maximum of 4 people on your team.
        </div>
    </article>
</section>


{{ template "bmviii footer" . }}
{{ end }}
