{{ define "bmvii hackers" }}
{{ template "head" . }}

{{ template "navbar" . }}

{{ template "flashes" .Flashes }}

<section class="section bm-vii-hero" style='background-color: #FFA13C; background-image: url({{ static_path "bmvii_why_clouds.svg" }});'>
	<div class="container" style="padding-bottom: 2.5rem; padding-top: 2.5rem;">
		<div class="columns is-centered content">
			<div class="column is-5">
				<img alt="A Weekend Full of Hacking" src={{ static_path "bmvii_hackers_hero.png" }}>
			</div>
		</div>
		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">Bring your ideas, your friends, your curiosity, your ambition.<br />
					We'll do the rest.</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-5 has-text-centered">
				<h2 class="subtitle">BoilerMake gives you the platform and tools to unleash your creativity.</h2>
				<div class="youtube-container">
					<iframe class="box is-paddingless" src="https://youtube.com/embed/Wgs1nLJKqNY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-6">
				<div class="columns content" style="margin-bottom: 0;">
					<div class="column is-6 is-8-mobile" style="padding-bottom: 0;">
						<img alt="Create Amazing Things" src={{ static_path "bmvii_hackers_create_amazing_things.png" }}>
					</div>
				</div>
				<p>Have an idea for a personal project? A new company? Or, want to learn a new technology? Come to BoilerMake to make your dreams a reality. 
					You can bring a team or form one here to build out your project. Share your work with hundreds of other hackers and corporate sponsors, 
					and you could get the chance to win a prize pool at the end of the weekend!</p>
					<p>We hope you'll add to the legacy of great projects made at BoilerMake, including VR DDR, Skittles Launcher, and more.</p>
				<a href="https://boilermake-vi.devpost.com"><button class="button is-info">Past hacks</button></a>
			</div>
			<div class="column is-3">
				<img src='{{ static_path "hackers_build.jpg" }}' class="box is-paddingless" alt="build">
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3">
				<img src='{{ static_path "hackers_friends.jpg" }}' class="box is-paddingless" alt="friends">
			</div>
			<div class="column is-6">
				<div class="columns content" style="margin-bottom: 0;">
					<div class="column is-5 is-6-mobile" style="padding-bottom: 0;">
						<img alt="Create Amazing Things" src={{ static_path "bmvii_hackers_make_new_friends.png" }}>
					</div>
				</div>
				<p>Each year, over 500 hackers from schools across the nation come together to hack and have fun. Don’t have a team? No problem. 
				BoilerMake will facilitate team building to help you meet new faces and come together to form the perfect group.</p>
			</div>
		</div>
	</div>
</section>
</div>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-6">
				<div class="columns content" style="margin-bottom: 0;">
					<div class="column is-6 is-8-mobile" style="padding-bottom: 0;">
						<img alt="Create Amazing Things" src={{ static_path "bmvii_hackers_connect_with_sponsors.png" }}>
					</div>
				</div>
				<p>Meet the people who make it all possible. Engineers from sponsoring companies come to help hackers with their projects.
				You can ask specific questions about a bug in your code, or gain insights into their careers.
				Sponsor tables are a great place to learn about new technologies and real-world applications of your skills. 
				Some sponsors may even provide fun activities or free swag!</p>
			</div>
			<div class="column is-3">
				<img src='{{ static_path "hackers_connecting.jpg" }}' class="box is-paddingless" alt="connecting">
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3">
				<img src='{{ static_path "hackers_activities.jpg" }}' class="box is-paddingless" alt="activities">
			</div>
			<div class="column is-6">
				<div class="columns content" style="margin-bottom: 0;">
					<div class="column is-6 is-8-mobile" style="padding-bottom: 0;">
						<img alt="Create Amazing Things" src={{ static_path "bmvii_hackers_participate_in_activities.png" }}>
					</div>
				</div>
				<p>Need a break from hacking? We have you covered. At several points throughout the day, we will have activities open to all hackers. 
				These include tech talks, workshops, yoga, cup stacking, and more!</p>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
