{{ define "bmvii home" }}
{{ template "head" . }}

{{ template "bmvii navbar" . }}

<section class="section bm-vii-hero" style='background-color: #6176CF; background-image: url({{ static_path "bmvii_home_background.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-5">
				<img alt="Greetings from BoilerMake" src={{ static_path "bmvii_greetings.svg" }}>
			</div>
		</div>
		<div class="columns is-centered content has-text-centered">
			<div class="column is-5">
				<h2 class="title has-text-light">Hack Your Own Adventure</h1>
				<h3 class="subtitle has-text-light">Purdue University | January 24-26, 2020</h2>
			</div>
		</div>
		<div class="columns is-centered content has-text-centered">
			<div class="column is-5">
				<a class="title is-4 button is-white is-outlined" href="#why">Learn More</a>
				{{ if .IsAuthenticated }}
				<a class="title is-4 button is-red" href="/apply">My Application</a>
				{{ else }}
				<a class="title is-4 button is-red" href="/apply">Apply</a>
				{{ end }}
			</div>
		</div>
		<div class="columns is-centered content">
			<div class="column is-6">
				<img alt="Stylized BoilerMake logo hammers" src={{ static_path "bmvii_hammers.svg" }}>
			</div>
		</div>
	</div>
</section>

<section class="section has-background-image" id="why" style='background-color: #FFA13C; background-image: url({{ static_path "bmvii_why_clouds.svg" }}); padding-bottom: 0; padding-left: 0; padding-right:0;'>
	<div class="container" style="padding: 0 1.5rem;">
		<div class="columns is-centered content">
			<div class="column is-5 bmvii-section-header">
				<img alt="Why BoilerMake?" src={{ static_path "bmvii_why.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">BoilerMake is Purdue University's largest hackathon. Over the past six years, 
				thousands of students from across the country have come to BoilerMake. This event is for experienced hackers, newbies to technology, and everyone in between.</p>
				<p class="subtitle is-5 has-text-white has-text-centered has-text-weight-semibold">
				From Friday night to Sunday afternoon, you can: </p>
			</div>
		</div>

		<div style="padding: 1.5rem 0 2.5rem 0;">
			<div class="columns is-centered has-text-centered">
				<div class="column is-6">
					<div class="columns is-vcentered is-mobile">
						<div class="column is-half">
							<img alt="Gears turning" src={{ static_path "bmvii_why_build.svg" }} class="bmvii-why__img">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Build Creative Projects</p>
						</div>
						<div class="column is-half">
							<img alt="Silverware" src={{ static_path "bmvii_why_food.svg" }} class="bmvii-why__img">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Eat Delicious Food</p>
						</div>
					</div>
				</div>
				<div class="column is-6">
					<div class="columns is-vcentered is-mobile">
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_skills.svg" }} class="bmvii-why__img" alt="Brain">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Learn New Skills</p>
						</div>
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_friends.svg" }} class="bmvii-why__img" alt="People">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Make new friends</p>
						</div>
					</div>
				</div>
			</div>
			<div class="columns is-centered has-text-centered">
				<div class="column is-6">
					<div class="columns is-vcentered is-mobile">
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_resume.svg" }} class="bmvii-why__img" alt="Good resume">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Boost Your Resume</p>
						</div>
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_companies.svg" }} class="bmvii-why__img" alt="Formal attire">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Talk to Company Reps</p>
						</div>
					</div>
				</div>
				<div class="column is-6">
					<div class="columns is-vcentered is-mobile">
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_memories.svg" }} class="bmvii-why__img" alt="Floppy disk">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Make Incredible Memories</p>
						</div>
						<div class="column is-half">
							<img src={{ static_path "bmvii_why_prizes.svg" }} class="bmvii-why__img" alt="Trophy">
							<p class="subtitle is-5 has-text-white has-text-weight-bold">Win Cool Prizes</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8 has-text-centered">
				<a class="button is-4 title has-text-centered is-white is-outlined" href="https://boilermake-vi.devpost.com/">Past Hacks →</a>
			</div>
		</div>


	</div>

	<img src={{ static_path "bmvii_why_quarry.svg" }} class="bmvii-why__quarry" alt="Illustration of rolling hills">
</section>

<section class="section" style='background-color: #7B004E;'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3 bmvii-section-header">
				<img alt="Join The Fun" src={{ static_path "bmvii_join_the_fun.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-10">
				<p class="subtitle is-5 has-text-white has-text-centered">
					Oh, and by the way - we'll have free food, swag, and activities for you throughout the weekend!
					The schedule will be released as we get closer to the event.</p>
			</div>
		</div>

		{{/*
		<div class="columns is-centered content">
			<div class="column is-4">
				<div class="box">
					<img alt="Friday, January 24" src={{ static_path "bmvii_schedule_friday.svg" }}>

					<div class="bmvii-schedule__day">
						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">6:00 PM</span>
								<span class="bmvii-schedule__item_event">Check in begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">8:00 PM</span>
								<span class="bmvii-schedule__item_event">Opening ceremonies</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:00 PM</span>
								<span class="bmvii-schedule__item_event">Team assembly</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:30 PM</span>
								<span class="bmvii-schedule__item_event">Dinner</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">10:00 PM</span>
								<span class="bmvii-schedule__item_event">Hacking begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">11:00 PM</span>
								<span class="bmvii-schedule__item_event">Activity</span>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="column is-4">
				<div class="box">
					<img alt="Saturday, January 25" src={{ static_path "bmvii_schedule_saturday.svg" }}>

					<div class="bmvii-schedule__day">
						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">6:00 PM</span>
								<span class="bmvii-schedule__item_event">Check in begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">8:00 PM</span>
								<span class="bmvii-schedule__item_event">Opening ceremonies</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:00 PM</span>
								<span class="bmvii-schedule__item_event">Team assembly</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:30 PM</span>
								<span class="bmvii-schedule__item_event">Dinner</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">10:00 PM</span>
								<span class="bmvii-schedule__item_event">Hacking begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">11:00 PM</span>
								<span class="bmvii-schedule__item_event">Activity</span>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="column is-4">
				<div class="box">
					<img alt="Sunday, January 26" src={{ static_path "bmvii_schedule_sunday.svg" }}>

					<div class="bmvii-schedule__day">
						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">6:00 PM</span>
								<span class="bmvii-schedule__item_event">Check in begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">8:00 PM</span>
								<span class="bmvii-schedule__item_event">Opening ceremonies</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:00 PM</span>
								<span class="bmvii-schedule__item_event">Team assembly</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">9:30 PM</span>
								<span class="bmvii-schedule__item_event">Dinner</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">10:00 PM</span>
								<span class="bmvii-schedule__item_event">Hacking begins</span>
							</div>
						</div>

						<div class="bmvii-schedule__item">
							<div class="bmvii-schedule__item_info">
								<span class="bmvii-schedule__item_time">11:00 PM</span>
								<span class="bmvii-schedule__item_event">Activity</span>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		*/}}

		<div class="columns is-centered content">
			<div class="column is-one-third">
				<img src={{ static_path "home_gallery_9.jpg" }} class="box is-paddingless">
			</div>
			<div class="column is-one-third">
				<img src={{ static_path "home_gallery_10.jpg" }} class="box is-paddingless">
			</div>
			<div class="column is-one-third">
				<img src={{ static_path "home_gallery_11.jpg" }} class="box is-paddingless">
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">We're also teaming up with MLH, so you can have access to the <a href="#">hardware lab</a> and various development credit for students.
				We hold an awards ceremony at the end of the weekend. Over $10,000 in prizes are given out, 
				such as drones and Nintendo Switches. In addition to prizes from the BoilerMake team, select sponsors will have prizes for their categories.</p>
				<p class="subtitle is-5 has-text-white has-text-centered has-text-weight-semibold">We can't wait to see what you make.</p>
			</div>
		</div>


	</div>
</section>

<section class="section has-background-image bmvii-testimonials" style='background-color: #8D9EDC; background-image: url({{ static_path "bmvii_testimonials_trees.svg" }});'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3 bmvii-section-header">
				<img alt="Testimonials" src={{ static_path "bmvii_testimonials.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">We want to give the best experience to the creative minds of the tech community and beyond.
				Here are a few highlights from the perspective of our hackers:</p>
			</div>
		</div>

		<div class="columns is-centered has-text-centered bmvii-testimonials__columns">
			<div class="column is-one-third is-flex">
				<div class="box is-paddingless">
					<img src={{ static_path "kevin.jpg" }} class="bmvii-testimonial__image">
					<div class="bmvii-testimonial__text">
						<p class="title is-3 has-text-weight-bold">❝</p>
						<p class="subtitle is-5">Hacking at BoilerMake made me realize my potential as a creator. Taking advantage of what 
						the weekend had to offer made me lifelong friends and gave me the opportunity to explore what I enjoy most in my field.</p>
						<p class="subtitle is-5 has-text-weight-bold">Kevin Cardona</p>
					</div>
				</div>
			</div>
			<div class="column is-one-third is-flex">
				<div class="box is-paddingless">
					<img src={{ static_path "lauren.jpg" }} class="bmvii-testimonial__image">
					<div class="bmvii-testimonial__text">
						<p class="title is-3 has-text-weight-bold">❝</p>
						<p class="subtitle is-5">BoilerMake gave me the resources and support I needed to create a project I was truly proud of. 
						If you have an idea and a passion for creating something from scratch, don’t let this opportunity pass you up!</p>
						<p class="subtitle is-5 has-text-weight-bold">Lauren Lum</p>
					</div>
				</div>
			</div>
			<div class="column is-one-third is-flex">
				<div class="box is-paddingless">
					<img src={{ static_path "sam.jpg" }} class="bmvii-testimonial__image">
					<div class="bmvii-testimonial__text">
						<p class="title is-3 has-text-weight-bold">❝</p>
						<p class="subtitle is-5">BoilerMake has been the perfect event to build some exciting projects with some great people. 
						I have always had fun spending the weekend alongside other hackers, and it is a great opportunity to learn more while 
						creating something new.</p>
						<p class="subtitle is-5 has-text-weight-bold">Samuel Ingram</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section has-background-image bmvii-faq" style='background-color: #BF435B; background-image: url({{ static_path "bmvii_faq_dunes.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-6 bmvii-section-header">
				<img alt="Frequently Asked Questions" src={{ static_path "bmvii_faq.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">There are probably lots of questions that you have. We all have questions. Here are some that are asked a lot.</p>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-12">
				<div class="tile is-ancestor">
					<div class="tile is-12 is-vertical is-parent">
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What is a hackathon?</strong></h3>
							<p>
    							A hackathon - or hacking marathon - is an event that promotes self-expression and creativity through technology.
									Anyone with or without a technical background can attend to learn, build, and share new things.
									Hackers form teams around a problem or idea, collaboratively build or code a unique solution from scratch, and compete for prizes with other teams.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Is it free?</strong></h3>
							<p>
    							Yes! BoilerMake is an all-expense paid experience. We provide hackers with the venue, swag, and food throughout the weekend.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What are the requirements to attend?</strong></h3>
							<p>
								BoilerMake is open to all undergraduate college students age 18 or older.
							</p>
						</div>
						<div class="columns is-centered content">
							<div class="column is-8 has-text-centered">
								<a class="button is-4 title has-text-centered is-white" href="/faq">Tell me more →</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="section" style='background-color: #2D2045;'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-3 bmvii-section-header">
				<img alt="Sponsors" src={{ static_path "bmvii_sponsors.svg" }}>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8">
				<p class="subtitle is-5 has-text-white has-text-centered">BoilerMake is possible through the support of our amazing sponsors.</p>
			</div>
		</div>

		<div class="columns is-centered content">
			<div class="column is-8 has-text-centered">
				<a class="button is-4 title has-text-centered is-white is-outlined" href="/sponsors">Become a Sponsor →</a>
			</div>
		</div>
</section>

{{ template "bmvii footer" . }}
{{ end }}
