{{ define "dashboard" }}
{{ template "head" . }}

{{ template "navbar" . }}

{{ template "flashes" .Flashes }}

<section class="section bmvii-form" style='background-image: url({{ static_path "bmvii_application_background.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-5">
        <h2>Your Dashboard</h2>
        <div style="margin: 2em 0;">
          {{ if eq .Data.Application.Decision -1 }}
          <div class="level" style="margin-bottom: 1em;">
            <p class="level-left is-5 title is-marginless">You haven't applied yet!</p>
            <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-awaiting"></div>
          </div>
          <p>First things first we need you to apply, do that by clicking the button below.</p>

          {{ else if eq .Data.Application.Decision 0 }}
          <div class="level" style="margin-bottom: 1em;">
            <p class="level-left is-5 title is-marginless">Application Status: Awaiting Decision</p>
            <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-awaiting"></div>
          </div>
          <p>We haven't made a decision yet, but you'll get an email letting you know as soon as we do!  If you've got any questions feel free to reach out to us at <a href="mailto:team@boilermake.org">team@boilermake.org</a>.</p>

          {{ else if eq .Data.Application.Decision 1 }}
          <div class="level" style="margin-bottom: 1em;">
            <p class="level-left is-5 title is-marginless">Application Status: Rejected</p>
            <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
          </div>
          <p>Unfortunately we won't be able to reserve a space for you at BoilerMake VII.  Most years we let a few people in at the door, so if you're still interested be sure to stop by and ask if there's space!  If you decide not to do that, we hope you'll apply next year!</p>

          {{ else if eq .Data.Application.Decision 2 }}
          <div class="level" style="margin-bottom: 1em;">
            <p class="level-left is-5 title is-marginless">Application Status: Wait list</p>
            <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-waitlisted"></div>
          </div>
          <p>We're trying to see if we have space for you and will follow up soon!</p>

          {{ else if eq .Data.Application.Decision 3 }}
          <div class="level" style="margin-bottom: 1em;">
            <p class="level-left is-5 title is-marginless">Application Status: Accepted!</p>
            <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-accepted"></div>
          </div>
          <p>You're in! We hope you're excited for a weekend of hacking, but first we need you to RSVP:</p>
          {{ end }}
        </div>

        {{ if eq .Data.Application.Decision -1 }}
				<a class="button is-red is-fullwidth is-5 title" href="/apply">Apply Now!</a>
        {{ end }}

        {{ if eq .Data.Application.Decision 0 }}
				<a class="button is-red is-outlined is-fullwidth is-5 title" href="/apply">View application</a>
        {{ end }}

        {{ if eq .Data.Application.Decision 3 }}
				<a class="button is-red is-fullwidth is-5 title" href="/rsvp">RSVP</a>
        {{ end }}
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
