{{ define "dashboard" }}
{{ template "head" . }}

{{ template "bmix navbar water" . }}

{{ template "flashes" .Flashes }}

<section class="section bmvii-form" style='background-image: url({{ static_path "bmix_landing_page_bg.svg" }}); background-color: #FFE4C3; background-size: 100%; min-height: 600px'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-5-desktop is-7-tablet">
        <h2>Your Dashboard</h2>
        <div style="margin: 2em 0;">
          {{ if eq .Status 4 }}
            {{ if eq .Data.Application.Decision 3 }}
                {{ if not .Data.Application.CheckedInStatus }}
                <div>
                    <form action="/checkin" method="post">
                        <div class="level" style="margin-bottom: 1em;">
                          <p class="level-left is-5 title is-marginless">Application Status: Accepted!</p>
                          <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-accepted"></div>
                        </div>
                        <p>We are excited to welcome you to BM IX! We're looking forward to seeing what you create!</p>
                        <p><strong>Please check-in below to let us know that you are here.</strong></p>
                        <button class="button is-red is-outlined is-fullwidth is-5 title" type="submit">Check In</a>
                    </form>
                </div>
                {{ else }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Application Status: Accepted!</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-accepted"></div>
                </div>
                <p>Welcome to BM IX! You are successfully checked in!</p>
                <hr>

                {{ if and (.Data.HasRSVP) (.Data.RSVP.WillAttend) }}
                <p>We can't wait to see what you make at BoilerMake IX! Feel free to update your RSVP.</p>
                {{ else }}
                <p><strong> We noticed you haven't RSVP'd. Please RSVP as soon as possible.</strong></p>
                {{ end }}
                <a class="button is-red is-outlined is-fullwidth is-5 title" href="/rsvp">Update RSVP</a>
                {{ end }}
            {{ else }}
            <div class="level" style="margin-bottom: 1em;">
              <p class="level-left is-5 title is-marginless">Application Status: Rejected</p>
              <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
            </div>
            <p>Unfortunately, we won't be able to reserve a space for you at BoilerMake IX. We realize this outcome may be disappointing, but we do our best to accommodate as many people.</p>
            <p>We hope you apply next year for BoilerMake IX. As always, Hack on.</p>
            {{ end }}
          {{ else }}
              {{ if .Data.HasRSVP }}
                {{ if .Data.RSVP.WillAttend }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">You're all set!</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-accepted"></div>
                </div>
                <p>We can't wait to see what you make at BoilerMake IX. Check back here and your email for more in the coming weeks. In the meantime, feel free to reach out to us at <a href="mailto:team@boilermake.org">team@boilermake.org</a> with any questions.</p>
                {{ else }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">We wish you could make it!</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
                </div>
                <p>We're sad you couldn't make it to BoilerMake IX, but we hope you'll attend next year. Feel free to reach out to us at <a href="mailto:team@boilermake.org">team@boilermake.org</a> with any questions. Hack on!</p>
                {{ end }}
              {{ else }}
                {{ if eq .Data.Application.Decision -2 }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Your RSVP has expired</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
                </div>
                <p>Unfortunately, your RSVP has expired. If you think this was an error, feel free to reach out to us at <a href="mailto:team@boilermake.org">team@boilermake.org</a>.</p>
                            <p>We hope you apply next year for BoilerMake IX. As always, Hack on.</p>

                {{ else if eq .Data.Application.Decision -1 }}
                  {{ if or (eq .Status 2) (eq .Status 4) }}
                    <div class="level" style="margin-bottom: 1em;">
                      <p class="level-left is-5 title is-marginless">You haven't applied yet!</p>
                      <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-awaiting"></div>
                    </div>
                    <p>First thing's first - we need you to apply! Head to the application page with the button below.</p>
                  {{ else }}
                    <div class="level" style="margin-bottom: 1em;">
                      <p class="level-left is-5 title is-marginless">Applications are closed</p>
                      <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
                    </div>
                    <p>Unfortunately, applications for BoilerMake IX have closed.  We hope to see you at future BoilerMake events!</p>
                  {{ end }}

                {{ else if eq .Data.Application.Decision 0 }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Application Status: Awaiting Decision</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-awaiting"></div>
                </div>
                <p>We haven't made a decision yet, but keep an eye on your email in the coming weeks! If you have any questions, feel free to reach out to us at <a href="mailto:team@boilermake.org">team@boilermake.org</a>.</p>

                {{ else if eq .Data.Application.Decision 1 }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Application Status: Rejected</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-rejected"></div>
                </div>
                <p>Unfortunately, we won't be able to reserve a space for you at BoilerMake IX.
                                We realize this outcome may be disappointing, but we do our best to accomodate as many people as possible at our venue.
                                We may accept walk-ins on a rolling basis at the event - ask us at check-in or visit your dashboard on January 24th.</p>
                             <p>We hope you apply next year for BoilerMake IX. As always, Hack on.</p>

                {{ else if eq .Data.Application.Decision 2 }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Application Status: Waitlist</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-waitlisted"></div>
                </div>
                <p>We're working on finding space for you! We do our best to accomodate as many people as possible at our venue. Keep an eye on your email for a follow up.</p>

                {{ else if eq .Data.Application.Decision 3 }}
                <div class="level" style="margin-bottom: 1em;">
                  <p class="level-left is-5 title is-marginless">Application Status: Accepted!</p>
                  <div class="level-right is-5 title bmvii-status-pulse bmvii-status-pulse-accepted"></div>
                </div>
                <p>Congratulations! We are honored to invite you <b>virtually</b> to BoilerMake IX on January 21nd.
                                Get ready to code on cloud IX and learn new skills while enjoying tech talks, workshops, and online activities on the side.</p>
                            <p><strong>Please RSVP below to let us know if you can make it. Your acceptance will expire on January 20th 11:59 PM EST.</strong></p>
                {{ end }}
              {{ end }}
        </div>

        {{ if .Data.HasRSVP }}
          <a class="button is-red is-outlined is-fullwidth is-5 title" href="/rsvp">Update RSVP</a>
        {{ else }}
          {{ if or (eq .Status 2) (eq .Status 4) }}
            {{ if eq .Data.Application.Decision -1 }}
            <a class="button is-light-pink is-fullwidth is-5 title" href="/apply" style="color:white; border-radius:20px">Apply Now</a>
            {{ end }}

            {{ if eq .Data.Application.Decision 0 }}
            <a class="button is-light-pink is-outlined is-fullwidth is-5 title" style="color:white" href="/apply">View application</a>
            {{ end }}
          {{ end }}

          {{ if eq .Data.Application.Decision 3 }}
          <a class="button is-red is-fullwidth is-5 title" href="/rsvp">RSVP</a>
          {{ end }}
        {{ end }}
			</div>
		</div>
		{{ end }}
	</div>
</section>

{{ template "footer" . }}
{{ end }}
