{{ define "exec" }}
{{ template "header" . }}

{{ template "navbar" . }}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exec Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Accounts</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Applications</p>
              <p class="title">123</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Accepted</p>
              <p class="title">456K</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Checked In</p>
              <p class="title">789</p>
            </div>
          </div>
        </nav>
      </div>
    </section>

      <section class="hero is-primary is-fullheight">

      <div class="container">
        <div class="columns is-5-tablet is-4-desktop is-3-widescreen">

          <div class="column">
            <form action="exec/announcement" method="post">
            <label class="label">Create Announcement</label>
            <div class="control">
              <textarea name="announcement" class="textarea" placeholder="Announcement"></textarea>
            </div>
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
          </form>
          </div>
          <div class="column">
            <form action="exec/accepted" method="post">
            <label class="label">Accept Hackers</label>
            <div class="control">
              <textarea name="acceptedEmails" class="textarea" placeholder="Enter list of comma seperated emails: student1@email.com, student2@email.com, student3@email.com"></textarea>
						</div>
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
          </form>
          </div>

        </div>
      </div>
    </div>

  </section>
</body>

</html>




{{ template "footer" . }}
{{ end }}
