{{ define "faq" }}
	{{ template "head" . }}

	{{ template "navbar clear" . }}

	{{ template "flashes" .Flashes }}

	<main>
		<div class="section">
			<div class="container">
				<h1 class="title is-1">FAQ</h1>
				<p class="subtitle">Frequently Asked Questions</p>
				<div class="tile is-ancestor">
					<div class="tile is-12 is-vertical is-parent">
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What is a hackathon?</strong></h3>
							<p>
								A hackathon - or hacking marathon - is an event that promotes self-expression and creativity through technology.
								Anyone with or without a technical background can attend to learn, build, and share new things.
								Hackers form teams around a problem or idea, collaboratively build or code a unique solution from scratch, and compete for prizes with other teams.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Is it free?</strong></h3>
							<p>
								Yes! BoilerMake is completely free for all attendees.
							</p>
						</div>
						<div class="tile is-child box">
                            <h3 class="subtitle is-3 is-spaced"><strong>When will applications open?</strong></h3>
                            <p>
                               Applications will open in the late fall, so keep an eye out then for official dates and additional details about the hackathon!
                            </p>
                        </div>
						<div class="tile is-child box">
                            <h3 class="subtitle is-3 is-spaced"><strong>Will BoilerMake be in person?</strong></h3>
                            <p>
                               We are still working on determining the location and format of BM IX. Stay tuned for more information!
                            </p>
                        </div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What if I don't know how to code?</strong></h3>
							<p>
								No problem! Come to BoilerMake to learn a new skill and meet people. We'll have tech talks, a Slack workplace to ask questions, 
								and engineers from sponsoring companies to help you build something you can be proud of. This is your best chance 
								to learn alongside so many other driven hackers.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>How large can my team be?</strong></h3>
							<p>
								You can have a maximum of 4 people on your team.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What are the requirements to attend?</strong></h3>
							<p>
								BoilerMake is open to all undergraduate college students who are of age 18 or older.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>My team was accepted and I wasn't - can I attend?</strong></h3>
							<p>
								Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Do you allow walk-ins and last minute registration?</strong></h3>
							<p>
								We accept walk-ins based on availability after hacker check-in. We will announce more details closer to the event!
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>I missed the deadline to apply - can I attend?</strong></h3>
							<p>
								We set a deadline to ensure that all applications are given equal consideration to attend BoilerMake.
								Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
							</p>
						</div>

						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What if I have any other questions?</strong></h3>
							<p>
								Please email us at <a href='mailto:team@boilermake.org'>team@boilermake.org</a>!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{ template "footer" . }}
{{ end }}