{{ define "faq" }}
	{{ template "head" . }}

	{{ template "navbar" . }}

	{{ template "flashes" .Flashes }}

	<main>
		<div class="section">
			<div class="container">
				<h1 class="title is-1">FAQ</h1>
				<p class="subtitle">Frequently Asked Questions</p>
				<div class="tile is-ancestor">
					<div class="tile is-12 is-vertical is-parent">
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What is a hackathon?</strong></h3>
							<p>
								A hackathon - or hacking marathon - is an event that promotes self-expression and creativity through technology.
								Anyone with or without a technical background can attend to learn, build, and share new things.
								Hackers form teams around a problem or idea, collaboratively build or code a unique solution from scratch, and compete for prizes with other teams.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Is it free?</strong></h3>
							<p>
								Yes! BoilerMake is an all-expense paid experience. We provide hackers with the venue, swag, and food throughout the weekend.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What if I don't know how to code?</strong></h3>
							<p>
								No problem! Come to BoilerMake to learn a new skill and meet people. We'll have tech talks, a Slack workplace to ask questions, 
								and engineers from sponsoring companies to help you build something you can be proud of. This is your best chance 
								to learn alongside so many other driven hackers.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>How large can my team be?</strong></h3>
							<p>
								You can have a maximum of 4 people on your team.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What are the requirements to attend?</strong></h3>
							<p>
								BoilerMake is open to all undergraduate college students who are of age 18 or older.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What should I bring?</strong></h3>
							<p>
								You should bring your student ID, laptop, and chargers, as well as a change of clothes and any toiletries you may need for the weekend.
								Beyond that, you're welcome to bring a deck of cards, hardware to hack with, and your friends!
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Where will I sleep and shower?</strong></h3>
							<p>
								While it's a lot of fun to stay up and code all night, we hope you'll get some sleep at BoilerMake.
								We will have air mattresses for hackers to sleep on, and we encourage all to bring a blanket or sleeping bag with them.
								We will also have access to shower facilities at our venue.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>My team was accepted and I wasn't - can I attend?</strong></h3>
							<p>
								Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Do you allow walk-ins?</strong></h3>
							<p>
								We accept walk-ins based on availability after hacker check-in. We will announce more details closer to the event!
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>Do you offer travel reimbursements?</strong></h3>
							<p>
								Unfortunately, we are unable to provide travel reimbursements for BoilerMake VII. We will have parking available to you, and 
								we highly encourage you to make a road trip with your friends out of your journey here.
							</p>
						</div>
						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>I missed the deadline to apply - can I attend?</strong></h3>
							<p>
								We set a deadline to ensure that all applications are given equal consideration to attend BoilerMake.
								Feel free to email team@boilermake.org for info about our waitlist, and we will do our best to accommodate you as space opens up at our event.
							</p>
						</div>

						<div class="tile is-child box">
							<h3 class="subtitle is-3 is-spaced"><strong>What if I have any other questions?</strong></h3>
							<p>
								Please email us at <a href='mailto:team@boilermake.org'>team@boilermake.org</a>!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{ template "footer" . }}
{{ end }}
