{{ define "forgot" }}
{{ template "head" . }}

{{ template "bmviii navbar sand" . }}

{{ template "flashes" .Flashes }}

<section class="section bmvii-form" style='background-image: url({{ static_path "bmix_signin_bg.svg" }}); background-color: #FFE4C3'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-6-tablet is-4-desktop">
				<h2>Forgot password</h2>
				<form action="" method="post">

					<div class="field">
						<label for="email" class="label">Email</label>
						<div class="control">
							<input type="email" name="email" placeholder="you@school.edu" class="input" maxlength="128" required>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button is-fullwidth is-red" type="submit">Reset my password</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
