{{ define "index" }}
{{ template "header" . }}

<section class="hero is-medium has-background-image" style='background-image: linear-gradient(170deg, rgba(0,0,0,0.7), rgba(155,155,200,0.7)), url({{ static_path "home_header.jpg" }})'>
	<div class="hero-head" >
		{{ template "navbar" }}
	</div>
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title has-text-light">BoilerMake VII</h1>
			<h2 class="subtitle has-text-light">January 24-26, 2020 | Purdue University</h2>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column is-7">
				<h2 class="subtitle">Create, Meet, Learn, & Build</h2>
				<p>For the past five years, we've brought in 500 students from across the the country to create and collaborate on amazing ideas. This is an event for people who live and love hacking. Everything we do at BoilerMake is for you.</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="columns is-mobile">
		<div class="column">
			<img src='{{ static_path "home_gallery_1.jpg" }}'/>
		</div>
		<div class="column">
			<img src='{{ static_path "home_gallery_2.jpg" }}'/>
		</div>
		<div class="column">
			<img src='{{ static_path "home_gallery_3.jpg" }}'/>
		</div>
		<div class="column is-hidden-mobile">
			<img src='{{ static_path "home_gallery_4.jpg" }}'/>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-6">
				<h2 class="title has-text-centered">BoilerMake is here to help you grow</h2>

				<div class="columns is-mobile is-vcentered content">
					<div class="column is-one-third is-vcentered">
						<img src='{{ static_path "big_b.svg" }}'/>
					</div>

					<div class="column is-two-thirds">
						<h3 class="subtitle">Create awesome projects</h3>
						<p>Surround yourself with hundreds of students and sponsors who are all incredibly passionate about building fun, new, or innovative projects.</p>
						<h3 class="subtitle">Learn new things</h3>
						<p>Not only does BoilerMake encourage building awesome projects, we love being able to provide an atmosphere where you can learn new things.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="columns is-mobile">
		<div class="column">
			<img src='{{ static_path "home_gallery_5.jpg" }}'/>
		</div>
		<div class="column">
			<img src='{{ static_path "home_gallery_6.jpg" }}'/>
		</div>
		<div class="column">
			<img src='{{ static_path "home_gallery_7.jpg" }}'/>
		</div>
		<div class="column is-hidden-mobile">
			<img src='{{ static_path "home_gallery_8.jpg" }}'/>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-7 content">
				<h2 class="subtitle">So what else?</h2>
				<p>BoilerMake offers a number of perks to make an amazing weekend. To get the weekend started, we provide buses to a number of schools to make travelling a no-brainer. In the past, we’ve sent buses to UIUC, UMich, and other universities.</p>
				<p>When you arrive, you will be given a swag bag that usually includes a t-shirt, a water bottle, and stickers. Each year we have some special swag. BoilerMake V saw fidget spinners, and BoilerMake II saw custom-designed dev boards.</p>
				<p>Throughout the weekend, we provide amazing catered meals for breakfast, lunch, and dinner. We also have an all-you-can-drink coffee bar, and snacks are passed out during the event.</p>
				<p>At the end of the event, we have an awards ceremony where over $10,000 in prizes are given out. Last year, winning teams received DJI Phantom drones and Nintendo Switches. In addition to BoilerMake prizes, sponsors usually give out their own prizes for their contest categories.</p>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
