{{ define "login" }}
{{ template "header" . }}

{{ template "navbar" }}

<main>
	<div class="row">
		<div class="card col-6 col-center">
			<form class="form__auth" action="" method="post">
				<h1>Login</h1>

				<div class="form__input">
					<label class="form__input--label" for="email"><b>Email</b></label>
					<input class="form__input--text" type="text" name="email" required>
				</div>

				<div class="form__input">
					<label class="form__input--label" for="password"><b>Password</b></label>
					<input class="form__input--text" type="password" name="password" required>
				</div>

				<a class="form__link" href="/forgot">Forgot Password</a>

				<div>
					<button class="form--button" type="submit">Login</button>
				</div>
			</form> 
		</div>
	</div>
</main>

{{ template "footer" . }}
{{ end }}
