{{ define "reset" }}
{{ template "header" . }}

{{ template "navbar" . }}

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-5-tablet is-4-desktop">
				<form action="" method="post">

					<div class="field">
						<label for="token" class="label">Reset Token</label>
						<div class="control">
							{{ if not . }}
								<input type="text" name="token" class="input" required>
							{{ else }}
								<input type="text" name="token" class="input" value="{{ . }}" required>
							{{ end }}
						</div>
					</div>

					<div class="field">
						<label for="new-password" class="label">New Password</label>
						<div class="control">
							<input type="password" name="new-password" placeholder="********" class="input" required>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button is-fullwidth is-dark" type="submit">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
