{{ define "reset" }}
{{ template "header" . }}

{{ template "navbar" }}

<main>
	<div class="row">
		<div class="card col-6 col-center">
			<form class="form__auth" action="" method="post">
				<h1>Reset Password</h1>

				<div class="form__input">
				{{ if not . }}
					<label class="form__input--label" for="token"><b>Reset Token</b></label>
					<input class="form__input--text" type="text" name="token" required>
				{{ else }}
					<label class="form__input--label" for="token"><b>Reset Token</b></label>
					<input class="form__input--text" type="text" name="token" value="{{ . }}" required>
				{{ end }}
				</div>

				<div class="form__input">
					<label class="form__input--label" for="new-password"><b>New Password</b></label>
					<input class="form__input--text" type="password" name="new-password" required>
				</div>

				<div>
					<button class="form--button" type="submit">Reset</button>
				</div>
			</form> 
		</div>
	</div>
</main>

{{ template "footer" . }}
{{ end }}
