{{ define "reset" }}
{{ template "header" . }}

{{ template "navbar" . }}

{{ template "flashes" .Flashes }}

<section class="section bmvii-form" style='background-image: url({{ static_path "bmvii_application_background.svg" }})'>
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-5-tablet is-4-desktop">
				<h2>Reset password</h2>
				<form action="" method="post">

					<div class="field">
						<label for="token" class="label">Reset Token</label>
						<div class="control">
							{{ if (.Data) }}
								{{ if (.Data.Token) }}
									<input type="text" name="token" class="input" value="{{ . }}" placeholder="Copy the token from the email you recieved" required>
								{{ else }}
									<input type="text" name="token" class="input" placeholder="Copy the token from the email you recieved" required>
								{{ end }}
							{{ else }}
								<input type="text" name="token" class="input" placeholder="Copy the token from the email you recieved" required>
							{{ end }}
						</div>
					</div>

					<div class="field">
						<label for="new-password" class="label">New Password</label>
						<div class="control">
							<input type="password" name="new-password" placeholder="********" class="input" required>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button is-fullwidth is-red" type="submit">Reset</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
