{{ define "signup" }}
{{ template "header" . }}

{{ template "navbar" }}

<section class="section">
	<div class="container">
		<div class="columns is-centered content">
			<div class="column box is-5-tablet is-4-desktop">
				<form action="" method="post">

					<div class="field">
						<label for="email" class="label">Email</label>
						<div class="control">
							<input type="email" name="email" placeholder="you@school.edu" class="input" required>
						</div>
					</div>

					<div class="field">
						<label for="password" class="label">Password</label>
						<div class="control">
							<input type="password" name="password" placeholder="********" class="input" required>
						</div>
					</div>

					<div class="field">
						<label for="password-confirm" class="label">Confirm Password</label>
						<div class="control">
							<input type="password" name="password-confirm" placeholder="********" class="input" required>
						</div>
					</div>

					<div class="field">
						<label for="first-name" class="label">First Name</label>
						<div class="control">
							<input type="text" name="first-name" class="input" required>
						</div>
					</div>

					<div class="field">
						<label for="last-name" class="label">Last Name</label>
						<div class="control">
							<input type="text" name="last-name" class="input" required>
						</div>
					</div>

					<div class="field">
						<button class="button is-fullwidth is-dark" type="submit">Signup</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

{{ template "footer" . }}
{{ end }}
