{{ define "login" }}
{{ template "header" . }}

<form action="" method="post">
	<h1>Login</h1>
	<hr>

	<div>
		<label class="input-text__label" for="email"><b>Email</b></label>
		<input class="input-text__input" type="text" name="email" required>
	</div>

	<div>
		<label class="input-text__label" for="password"><b>Password</b></label>
		<input class="input-text__input" type="password" name="password" required>
	</div>

	<div>
		<button type="submit">Sign Up</button>
	</div>
</form> 

{{ template "footer" . }}
{{ end }}
