{{ define "signup" }}
{{ template "header" . }}

<div class="cards">
	<div class="card">
		<form action="" method="post">
			<h1>Sign Up</h1>

			<div class="form__input">
				<label class="form__input--label" for="email"><b>Email</b></label>
				<input class="form__input--text" type="text" name="email" required>
			</div>

			<div class="form__input">
				<label class="form__input--label" for="password"><b>Password</b></label>
				<input class="form__input--text" type="password" name="password" required>
			</div>

			<div class="form__input">
				<label class="form__input--label" for="password-confirm"><b>Confirm Password</b></label>
				<input class="form__input--text" type="password" name="password-confirm" required>
			</div>

			<div class="form__input">
				<label class="form__input--label" for="first-name"><b>First Name</b></label>
				<input class="form__input--text" type="text" name="first-name" required>
			</div>

			<div class="form__input">
				<label class="form__input--label" for="last-name"><b>last Name</b></label>
				<input class="form__input--text" type="text" name="last-name" required>
			</div>

			<h2>Optional</h2>

			<div class="form__input">
				<label class="form__input--label" for="phone"><b>Phone Number</b></label>
				<input class="form__input--text" type="text" name="phone">
			</div>

			<div class="form__input">
				<label class="form__input--label" for="project-idea"><b>Project Idea</b></label>
				<input class="form__input--text" type="text" name="project-idea">
			</div>

			<div class="form__input">
				<label class="form__input--label"><b>Team Members</b></label>
				<input class="form__input--text" type="text" name="team-member-1" aria-labelledby="team-members-label">
				<input class="form__input--text" type="text" name="team-member-2" aria-labelledby="team-members-label">
				<input class="form__input--text" type="text" name="team-member-3" aria-labelledby="team-members-label">
			</div>

			<div>
				<button class="form--button" type="submit">Sign Up</button>
			</div>
		</form> 
	</div>
</div>

{{ template "footer" . }}
{{ end }}
