{{ define "signup" }}
{{ template "header" . }}

<form action="" method="post">
	<h1>Sign Up</h1>
	<hr>

	<div class="input-text">
		<label class="input-text__label" for="email"><b>Email</b></label>
		<input class="input-text__input" type="text" name="email" required>
	</div>

	<div class="input-text">
		<label class="input-text__label" for="password"><b>Password</b></label>
		<input class="input-text__input" type="password" name="password" required>
	</div>

	<div class="input-text">
		<label class="input-text__label" for="password-confirm"><b>Confirm Password</b></label>
		<input class="input-text__input" type="password" name="password-confirm" required>
	</div>

	<div class="input-text">
		<label class="input-text__label" for="first-name"><b>First Name</b></label>
		<input class="input-text__input" type="text" name="first-name" required>
	</div>

	<div class="input-text">
		<label class="input-text__label" for="last-name"><b>last Name</b></label>
		<input class="input-text__input" type="text" name="last-name" required>
	</div>

	<div class="input-text">
		<label class="input-text__label" for="phone"><b>Phone Number</b></label>
		<input class="input-text__input" type="text" name="phone">
	</div>

	<div class="input-text">
		<label class="input-text__label" for="project-idea"><b>Project Idea</b></label>
		<input class="input-text__input" type="text" name="project-idea">
	</div>

	<div class="input-text">
		<label class="input-text__label" for="team-member-1"><b>Team Member 1</b></label>
		<input class="input-text__input" type="text" name="team-member-1">
	</div>

	<div class="input-text">
		<label class="input-text__label" for="team-member-2"><b>Team Member 2</b></label>
		<input class="input-text__input" type="text" name="team-member-2">
	</div>

	<div class="input-text">
		<label class="input-text__label" for="team-member-3"><b>Team Member 3</b></label>
		<input class="input-text__input" type="text" name="team-member-3">
	</div>

	<div>
		<button class="form-button__button" type="submit">Sign Up</button>
	</div>
</form> 

{{ template "footer" . }}
{{ end }}
