/* CSS reset. TODO when/if we go with sass, this can be brought in with that */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* Define a single root size (rem) and have everything else base their sizes
 * off of that.  Gets rid of media queries for the most part and makes things
 * more responsive by default.
 * see: https://css-tricks.com/rems-ems/ 
*/
html {
	font-size: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"nav"     /* auto -> whatever it needs          */
		"main"    /* 1fr  -> whatever else is available */
		"footer"; /* auto -> whatever it needs          */

	max-width: 100rem;
	min-height: 100vh;

	margin: 0 auto;
}



nav {
	grid-area: nav;

	display: flex;
	margin: 1rem 1.5rem;
}

.nav__link {
	margin: 0.5rem;

	text-decoration: none;
	color: #222;
}

.nav__link--call-to-action {
	padding: 0.5rem;
	border-radius: 0.5rem;

	background: #222;
	color: #ebebeb;
}

.nav__pages {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

.nav__logo {
	height: 3rem;
	width: auto;
}

.nav__auth {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
}




main {
	grid-area: main;

	display: flex;
	justify-content: center;
}

.input-text {
	margin: 1rem 0;
}

.input-text__label {
	display: block;
	color: #7a7a7a;
	font-size: 0.75rem;
}

.input-text__input {
	border: none;
	border-bottom: 1px solid #7a7a7a;
	width: 100%;
	background: transparent;
}

.input-text__input:active {
	border: none;
	border-bottom: 1px solid #222;
	width: 100%;
	background: transparent;
}

.form-button__button {
	width: 100%;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;

	cursor: pointer;

	background: #222;
	color: #ebebeb;
}



footer {
	grid-area: footer;

	display: flex;
	justify-content: center;

	padding: 1.5rem 2rem;
	background: #222;
	color: #ebebeb;
}

.footer__container {
	padding: 0 2rem;
	list-style: none;
}

.footer__links {
	list-style: none;
}

.footer__link {
	color: #ebebeb;
	text-decoration: none;
}

.footer__link:hover {
	color: #ebebeb;
	text-decoration: underline;
}
