{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BoilerMake</title>

		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta charset="UTF-8">

		<meta property="og:title" content="BoilerMake">
		<meta property="og:description" content="BoilerMake is a hackathon that brings over 500 hackers from across the country under one roof for one incredible weekend.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://boilermake.org">

		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	</head>
	<body>
		{{ template "navbar" }}
		<main>
			<div class="main__container">

{{ end }}
