{{ define "navbar" }}

<nav>
	<div class="nav__pages">
		<a href="/">
			<img class="nav__logo" src="static/assets/logo.png">
		</a>

		<a class="nav__link" href="/hackers">Hackers</a>
		<a class="nav__link" href="/sponsors">Sponsors</a>
		<a class="nav__link" href="/faq">FAQ</a>
		<a class="nav__link" href="/about">About</a>
	</div>

	<div class="nav__auth">
		<a class="nav__link nav__auth--signup" href="/signup">Signup</a>
		<a class="nav__link" href="/login">Login</a>
	</div>
</nav>

{{ end }}
