{{ define "navbar" }}

<nav>
	<a href="/">
		<img class="nav-logo" src="static/assets/logo.png">
	</a>

	<a href="/hackers">Hackers</a>
	<a href="/sponsors">Sponsors</a>
	<a href="/faq">FAQ</a>
	<a href="/about">About BoilerMake</a>
</nav>

{{ end }}
